page-mybookings {

    ion-grid{
        padding:0px;
       .stadium-info.grid {
           padding:0px2px;
       }
        ion-icon {
            padding-right:5px;
        }
    }

    h6{
        color: white;
        font-size: 14px;
        margin: 2px;
        padding: 2px;
    }

    .media-cont
    {
        height: 150px;
        img{
            height: 100%;
            width: 100%;
           
        }
    }

    ion-grid.booking-row{
        text-align: center;
        background-color: $patsgabouyd;
        border-bottom: 5px solid $kotsgabouyd;
        padding:0px;
        .row {
            .col {
                padding:0px;
            }
        } 
    }
 .segment-md .segment-button {
     padding:0px;
 }

ion-segment{
    ion-segment-button {
        h6 {
    margin-top: 10px;
            }       
        }
    }

    page-mybookings .segment-md-patsgabouyd .segment-button.activated, page-mybookings .segment-md-patsgabouyd .segment-button.segment-activated
    {
        color:#2ab041;
    }

    ion-row.stad-title{

        h6{
            font-size:12px;
            color:#5f7485;
        }

        ion-col{
            text-align: center;
        }

    }

    ion-row.stad-values{

        padding-bottom: 8px;

       
        ion-col{
            text-align: center;
        }
    }
    .segment-md-patsgabouyd .segment-button.activated, .segment-md-patsgabouyd .segment-button.segment-activated {
        border-bottom: 3px solid #2ab041;
}
    ion-segment {
    background-color:$patsgabouyd;
}
}
