<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      My Bookings
    </ion-title>
  </ion-navbar>



</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="BookingType" color="patsgabouyd" (ionChange)="GetBookings()">
    <ion-segment-button value="0">
      <h6>
        CURRENT BOOKINGS
      </h6>
    </ion-segment-button>
    <ion-segment-button value="1">
      <h6>
        PREVIOUS BOOKINGS
      </h6>
    </ion-segment-button>
  </ion-segment>

  <ion-grid *ngFor="let item of Bookings" class="booking-row">
    <ion-row>
      <ion-col col-12>
        <div class="media-cont">
          <img src="{{item.MediaUrl}}" />
        </div>

        <h6>
          {{item.ScheduleDateFrom | date:'MMM d, y - HH:mm'}} @ {{item.StadiumName + ' • ' + item.MiniStadium.Name}}
        </h6>
      </ion-col>

    </ion-row>
    <ion-grid no-padding class="stadium-info">
      <ion-row class="stad-title">

        <ion-col col-3>
          <h6>
            RES #
          </h6>

        </ion-col>
        <ion-col col-3 class="borderleft">
          <h6>
            PHONE #
          </h6>

        </ion-col>

        <ion-col col-3 class="borderleftright">
          <h6>
            DURATION
          </h6>

        </ion-col>

        <ion-col col-3>
          <h6>
            PRICE
          </h6>

        </ion-col>

      </ion-row>

      <ion-row class="stad-values">

        <ion-col col-3>
          <h6>
            f#2ag4fd
          </h6>

        </ion-col>

        <ion-col col-3 class="borderleft">
          <h6>
            03258147
          </h6>

        </ion-col>


        <ion-col col-3 class="borderleftright">
          <h6>
            90 Mins
          </h6>

        </ion-col>

        <ion-col col-3>
          <h6>
            {{item.Price}} LL
          </h6>

        </ion-col>

      </ion-row>
      <button ion-button color="danger" *ngIf="BookingType == 0" (click)="DeleteBooking(item)">
        <ion-icon name="trash"></ion-icon> Delete
      </button>

    </ion-grid>
  </ion-grid>

</ion-content>