page-settings {


    h6,ion-label{
        color: white;
    }

    .item{
        background-color: transparent;
        .item-inner{
            border-bottom: none
        }
    }

    .toggle-md .toggle-icon{
        background-color: $arinared;
    }

    

}
