<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Settings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item no-lines>
      <ion-label>Allow Notification</ion-label>
      <ion-toggle [(ngModel)]="Member" (ionChange)="SaveMember()"></ion-toggle>
    </ion-item>

    <ion-item no-lines>
      <ion-label>Reminder 3 hours before game</ion-label>
      <ion-toggle [(ngModel)]="Member" (ionChange)="SaveMember()"></ion-toggle>
    </ion-item>

    <ion-item no-lines>
      <ion-label>Phone Number Verified</ion-label>
      <ion-toggle [(ngModel)]="Member" (ionChange)="SaveMember()"></ion-toggle>
    </ion-item>

    <ion-item no-lines>
      <ion-label>Email Verified</ion-label>
      <ion-toggle [(ngModel)]="Member" (ionChange)="SaveMember()"></ion-toggle>
    </ion-item>

  </ion-list>

</ion-content>