ion-grid.profile-topsec{
    background-color: $patsgabouyd;
    text-align: center;
    padding:0px;
    ion-row{
        background-color: $patsgabouyd;
        ion-col{
            img.profile-photo{
                height: 70px;
                width: 70px;
                border-radius: 50px;
           }
            img.team-photo{
                height: 70px;
                width: 70px;
           }
            h6{
                margin-top: 3px;
                margin-bottom: 3px;
                font-size: 12px;
                padding-top:5px;
           }
            h5{
                color: white;
                font-size: 14px;
                margin: 0px;
                padding: 0px;
           }
       }
   }
}
ion-grid.button-bar{
    padding: 3px 0;
    ion-row{
       
        ion-col{
            padding: 0px;
            
            .button {
                height: 75px;
                line-height: 20px;
                white-space: normal;
              
                width: calc(100% - 6px);
              
           }
       }
   }
}

ion-grid.leaderboard {

    background-color: $patsgabouyd;
    text-align: center;
    padding:0px;
    margin-top:10px;

    ion-row{

        background-color: $patsgabouyd;

        ion-col{
            h6{
                margin-top: 3px;
                margin-bottom: 3px;
                font-size: 12px;
                padding-top:5px;
                color: white;
           }
            h5{
                color: white;
                font-size: 16px;
                margin: 0px;
                padding: 0px;
           }
       }
   }
   
   ion-row.rank-sec{
    h6{
        color: $turquoise;
    }
}

}

.toolbar-content-md {
    text-align:center;
    padding-left:7px;
}

.team-photo {
    height:45px;
    width:45px;
}
 .segment-ios {
        
        background-color:$patsgabouyd;       
    
      .segment-button {
        border:0px;
        height: auto;
        background:transparent;
        
        ion-icon{
                
                display: block;
                line-height: 3.7rem;
                padding-top: 5px;
                padding-bottom: 7px;
                font-size: 40px;    
                
        }
    }
    }   

.segment-ios-primary .segment-button.segment-activated {
    background-color: transparent;
    color:$arinagreen;
    
    
}
.segment-ios-primary .segment-button {
    border-color:transparent;
    color:white;
}
.segment-ios .segment-button ion-icon {
    
    padding-top:5px;
}
.segment-ios-primary .segment-button span {
    font-size:12px;
}
.segment-ios .segment-button:last-of-type {
    border-radius:0px;
}
.segment-ios .segment-button:first-of-type {
   border-radius:0px;
}
.toolbar-content-md {
    padding-left:0px;
}
.toolbar .searchbar-md {
    padding-left:0px;
}
.toolbar-md {
    padding-left:0px;
}
.searchbar-md .searchbar-input {
    height: 40px;
    background-color: transparent;
    box-shadow:none;
    color: white;
    border-bottom: 1px solid #5f7485;
    padding: 6px 50px;
    margin-top: 3px;
    margin-left: -2px;
}
.searchbar-md .searchbar-search-icon, .searchbar-md .searchbar-md-cancel 
{
    color:white
}
.searchbar-md .searchbar-search-icon {
    color:white;
}
.barimageicons {
    display:block;
    margin-left: auto;
    margin-right: auto; 
    position: sticky;
    top: 0px;
    height:50px;
    padding-top: 5px;
    padding-bottom: 7px;
}