<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img src="../../assets/imgs/loggo.png" style="padding-left:5px;display:inline-block" height="40px">
    <!--   <ion-toolbar class="searchbar1">
   <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="true" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
    </ion-searchbar> 
  </ion-toolbar>  -->

    <ion-buttons end>
      <button ion-button color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button color="royal">
        <ion-icon name="mail"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <ion-grid class="profile-topsec">
    <ion-row align-items-center padding-top>

      <ion-col col-6 no-padding tappable (click)="GoToProfile()">
        <img class="profile-photo" src="https://www.rd.com/wp-content/uploads/2017/09/01-shutterstock_476340928-Irina-Bg-1024x683.jpg">
        <h5>
          Hello {{_settings.CurrentUser.FirstName}} !
        </h5>
      </ion-col>

      <ion-col col-6 class="borderleft" no-padding>
        <img class="team-photo" src="../../assets/imgs/Badges/25.png">
        <h5 class="capitalize">
          Superman
        </h5>

      </ion-col>

    </ion-row>
    <ion-row align-items-center>

      <ion-col no-padding>

        <h6 style="color:#5f7485">
          109192130
        </h6>
      </ion-col>

      <ion-col no-padding>

        <h6 style="color:turquoise">
          4th
        </h6>
      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-grid class="leaderboard" no-padding>
    <ion-row align-items-center>
      <ion-col col-12 margin-top margin-bottom>
        <h5> LEADERBOARD </h5>
      </ion-col>

    </ion-row>

    <ion-row align-items-center>

      <ion-col>

        <img class="team-photo" src="../../assets/imgs/Badges/25.png">
      </ion-col>
      <ion-col>

        <img class="team-photo" src="../../assets/imgs/Badges/15.png">
      </ion-col>
      <ion-col>

        <img class="team-photo" src="../../assets/imgs/Badges/55.png">
      </ion-col>

    </ion-row>

    <ion-row align-items-center>

      <ion-col>

        <h6>
          TEAM NAME 1
        </h6>
      </ion-col>
      <ion-col>

        <h6>
          TEAM NAME 2
        </h6>
      </ion-col>
      <ion-col>

        <h6>
          TEAM NAME 3
        </h6>
      </ion-col>

    </ion-row>

    <ion-row align-items-center class="rank-sec">

      <ion-col>

        <h6>
          1st
        </h6>
      </ion-col>
      <ion-col>

        <h6>
          2nd
        </h6>
      </ion-col>
      <ion-col>

        <h6>
          3rd
        </h6>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer class="footer">
  <ion-segment color="primary" mode="ios">

    <ion-segment-button value="0">

      <ion-icon name="ios-home-outline"></ion-icon>


    </ion-segment-button>
    <ion-segment-button value="2">

      <img src="../../assets/imgs/reserveicon.png" class="barimageicons">

    </ion-segment-button>
    <ion-segment-button value="2">

      <img src="../../assets/imgs/sword.png" class="barimageicons">

    </ion-segment-button>
    <ion-segment-button value="3">

      <img src="../../assets/imgs/playerfinder1.png" class="barimageicons">



    </ion-segment-button>


  </ion-segment>


</ion-footer>