page-bookingadd {

    h5,h6{
        color: white;
    }

    ion-grid.stat-sec{
        ion-col{
            text-align: center;
            font-size: 14px;
        }
    }

    
    .item-md{
        background-color: transparent;
        color: white;
        border: none;
    }

    ion-grid.cust-searchbox{

        ion-row{
            background-color:rgb(42,53,62)
        }
        .input
        {
            color: white;
        }

        ion-col.search-icon{
            text-align: right;
        }
    }

    .inp-price{
        .text-input{
            text-align: right;
        }
    }
        
    
}
