<ion-header>
  <ion-navbar>
    <ion-title>Add a Booking</ion-title>
    <ion-buttons end>
      <button ion-button icon-only style="color:#2ab041;">
        <ion-icon name="ios-person-add-outline" item-left style="font-size:20px"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="myDate"></ion-datetime>
  </ion-item>

  <h6 class="error">
    //////Please Select a Customer First
  </h6>

  <ion-grid class="cust-searchbox">
    <ion-row>
      <ion-col col-9>
        <ion-input placeholder="Phone Number +(961)"></ion-input>

      </ion-col>
      <ion-col col-3 class="search-icon">
        <button ion-button (click)="SelectCustomer()">
          <ion-icon ios="ios-search" md="md-search"></ion-icon>
        </button>

      </ion-col>
    </ion-row>
  </ion-grid>

  <h5 style="text-align: center"> /////// Statistics</h5>

  <ion-grid class="stat-sec">
    <ion-row>

      <ion-col col-6 style="color:red">
        <ion-icon name="close" item-left></ion-icon>

      </ion-col>

      <ion-col col-6 class="color-green">
        <ion-icon name="checkmark" item-left></ion-icon>
      </ion-col>


    </ion-row>

    <ion-row>

      <ion-col col-6 style="color:red">
        15
      </ion-col>

      <ion-col col-6 class="color-green">
        5
      </ion-col>


    </ion-row>
  </ion-grid>




  <ion-item no-lines>
    <ion-icon name="ios-person-add" item-left></ion-icon>
    <ion-label>Select a Stadium</ion-label>
    <ion-select [(ngModel)]="gender">
      <ion-option value="f">Middle</ion-option>
    </ion-select>
  </ion-item>

  <ion-item no-lines>
    <ion-icon name="pricetags" item-left></ion-icon>
    <ion-label>Price</ion-label>
    <ion-input class="inp-price" placeholder="Price" type="number"></ion-input>
  </ion-item>

  <ion-item no-lines>
    <ion-icon name="refresh" item-left></ion-icon>
    <ion-label>Recurring</ion-label>

    <ion-select [(ngModel)]="Schedule.Recurring" no-line>

      <ion-option value="0">Once</ion-option>
      <ion-option value="1">1 week</ion-option>
      <ion-option value="2">2 week</ion-option>
      <ion-option value="4">4 week</ion-option>
      <ion-option value="6">6 week</ion-option>
      <ion-option value="8">8 week</ion-option>
    </ion-select>
  </ion-item>

  <ion-item no-lines>
    <ion-icon name="time" item-left></ion-icon>
    <ion-label>Duration</ion-label>
    <ion-select [(ngModel)]="Schedule.Duration">
      <ion-option value="1">30 Mins</ion-option>
      <ion-option value="2">60 Mins</ion-option>
      <ion-option value="3">90 Mins</ion-option>
      <ion-option value="4">2 hours</ion-option>
      <ion-option value="5">2.5 hours</ion-option>
      <ion-option value="6">3 hours</ion-option>
      <ion-option value="7">3.5 hours</ion-option>
      <ion-option value="8">4 hours</ion-option>
      <ion-option value="9">4.5 hours</ion-option>
      <ion-option value="10">5 hours</ion-option>
    </ion-select>
  </ion-item>
</ion-content>

<ion-footer class="footer">

  <button ion-button (click)="SaveBooking()">Save</button>

</ion-footer>