<ion-menu [content]="content">
  <ion-content class="menu-section my-container">

    <ion-list>
      <ion-item class="headerrr" menuClose ion-item>

      </ion-item>

    </ion-list>

    <ion-list>

      <button ion-item menuClose class="menu-button" *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>

        <h6>
          {{p.title}}
        </h6>

      </button>

    </ion-list>



  </ion-content>
  
  <ion-footer style="background-color:transparent">
    <button class="menu-button" style="background:transparent;color:white" ion-item (click)="Logout()">
      <ion-icon name="power" style="    font-size: 26px;margin-right:30px"></ion-icon>
      <div style="display:inline-block; margin-top: 4px; position: fixed;"> Log out </div>
    </button>
  </ion-footer>

</ion-menu>



<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
<network-mode>
</network-mode>