
::-webkit-scrollbar, *::-webkit-scrollbar { display: none; }

ionic-content.menu-section {
    background: linear-gradient(to bottom, $patsgabouyd, $kotsgabouyd);
    h6{
        color: white;
   }
    button{
        background-color: transparent;
   }
}

 
.content-md {
    background-color: rgb(45, 62, 75) 
}
h6.color-white{
    color: white;
}
.toolbar-title-md {
    color:white;
    font-size: 18px;
    text-align: center;
    font-weight:100;
}
.refresher-pulling-text, .refresher-refreshing-text {
    text-align: center;
    font-size: 14px;
    color: color($colors, primary);
}
.button-md{
    font-weight: bold;
    border-radius: 3px;
    height: 40px;
}

// .content{
//     animation-name: fadeIn;
//     animation-duration: 0.5s;
// }

// @keyframes fadeIn {
//     from {
//         opacity: 0;
//         transform: translateY(20px) 
//    }
//     to {
//         opacity: 1 ;
//         transform: translateY(0) 
//    }
// }

.item-md .item-button{
    height: 44px;
}
.list .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child, .item.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner, .item.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner, .item.item-input.input-has-focus .item-inner, .list .item-input.input-has-focus:last-child, .item.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner, .list .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child, .item.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner, .list .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    box-shadow: none !important;
}
ion-spinner{
    
    margin: auto;    
    width: 28px;
    height: 28px;
    stroke: #2ab041;
    fill: #2ab041;

}

.ellipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


//MENU
.bar-button {
    color: white;
    background-color: transparent;
}
.bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover) {
    color: white;
}
//MENU

//INPUTS

.text-input{
    text-align: right;
}
/////////


/////Backcolor//////

.backcolor-green{
    background-color: $arinagreen;
}


/////////////////////


/***** Loading *****/

ion-spinner.loading-center {
    
    position: absolute;
    left: 50%;
    top: 50%;
    .z-index { 
        z-index: 2;
    }
}
/////////////////////


// *******MODAL SIZE DEFAULT - OVERRIDE IF NECCESSARY*****
.main-view {
    background: transparent;
}
.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .9;
    background-color: #071b2d;
}
.modal_content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    height: 80%;
    padding: 10px;
    z-index: 100;
    margin: auto;
    padding: 10px;
    color: #333;
    background: #e8e8e8;
    background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: linear-gradient(to bottom, #fff 0%, white 100%);
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
}

.close-modal {
    font-size: 34px;
    color: $arinagreen;
    margin-left: 15px;
    position: absolute;
    z-index: 9999;
    right: 18px;
    top: 10px;
} 

//////////////////////////////////////////////////////////////////


////*****ALERT DESIGN*****///////


.alert-md {
	.alert-wrapper {
		border-radius: 7px;
		max-width: 500px;
        width: 90%;
        background-color: $patsgabouyd;
        position: fixed;
        top:200px;
	}
	.alert-sub-title {
		display: none;
	}
	.alert-message {
		display: none;
	}
	.alert-title {
        text-transform:capitalize;
		font-size: 15px;
		color: white;
		font-weight: 100;
		background-color: $patsgabouyd;
		color: white;
		font-size: 15px;
		text-align: center;
	}
	.alert-button-group {
		background-color: $patsgabouyd;
		padding: 8px;
    }
    .alert-button:first-child:last-child {
        width: 100%;
        margin-right:0px;
        background-color: #2ab041;
		color: white;
	}
	.alert-button:nth-child(2) {
		border-radius: 20px;
		background-color: #2ab041;
		color: white;
		font-weight: 100;
		font-size: 18px;
		width: calc(50% - 3px);
        justify-content: center;
        margin:0px;
		.button-inner {
			justify-content: center;
		}
	}
	.alert-button:nth-child(1) {
		border-radius: 20px;
		background-color: white;
		color: #5f7485;
		margin:0 6px 0 0;
		font-weight: 100;
		font-size: 18px;
		width: calc(50% - 3px);
		justify-content: center;
		.button-inner {
			justify-content: center;
			
		}
    }
    .alert-radio-group, .alert-md .alert-checkbox-group {
        border:none;
        color:white;
    }
    .alert-radio-label {
        color:white;
    }
    .alert-title {
        font-size:17px;
       
    }
}

//////////////////////////////////


.my-container {
    background: linear-gradient(to bottom, $patsgabouyd, $kotsgabouyd);
    .menu-button {
        background-color: transparent ;
        color: white;
        border: none;
        .item-inner{
            margin-top:10px;
            border: none;
       }
        .item-md {
            background-color:$patsgabouyd 
       }
        h6{
            color: white;
            margin-left: 12px;
            font-size: 16px 
       }
   }
    .headerrr {
        height:70px;
        background-color: transparent;
        background-image: url('../../assets/imgs/loggo.png');
        background-size: 110px 55px;
        border-color: transparent;
         background-repeat: no-repeat;
    margin-top:15px;
    margin-left:77px;
   }
}
.toolbar-background {
 
    background-color:$patsgabouyd;
}
.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    display:none;
}
.footer {
    
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    .button {
        background-color:transparent;
        box-shadow:none;
        width: 100% 
   }
}
.arinacard {
   background-color: $patsgabouyd;
   color:white;
   padding:0px;
   
}

.color-green{
    color: $arinagreen;
}
.item-md.item-block .item-inner {
    background-color:transparent;
}

.item-md.item-block .item-inner {
    border:0px;
}

.item-md {
    margin-top:10px;
    padding-right:10px;
}
.item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input {
    margin-left:10px;
}
.item-md ion-icon[item-left], .item-md ion-icon[item-right], .item-md ion-icon[item-start], .item-md ion-icon[item-end] {
    margin-top:18px;
}
.left {
    text-align: left;
}

.right {
    text-align: right;
}
.center {
    text-align:center;
}
.borderleftright {
    border-right:1px solid #5f7485;
    border-left: 1px solid #5f7485
}
.borderright {
    border-right:1px solid #5f7485;
 
}
.borderbottom {
     border-bottom:1px solid #5f7485;
     
}

.bordertoprightleft{
      border-right:1px solid #2ab041;
    border-left: 1px solid #2ab041;
      border-top:1px solid #2ab041;
   }
.borderbottomrightleft{
      border-right:1px solid #2ab041;
    border-left: 1px solid #2ab041;
      border-bottom:1px solid #2ab041;
   }

.white {
    color:white
}

.arinagrey {
    color:#5f7485;
}

.patsgabouyd {
    color:$patsgabouyd;
}


.card-md {
        width: calc(100%);
        margin: 0px;
}


.mat-form-field-underline {
    
    display: block;
    background-image:none;
}

.mat-form-field-disabled .mat-form-field-underline{
    background-image:none;
    background-color: transparent;

}

.mat-form-field-underline {
    background-image:none;
    background-color: transparent;

}

.mat-form-field-wrapper {
    padding-bottom: 0px; 
}

.mat-form-field-infix {
   padding: 0px; 
   border:none
}

.mat-input-underline 
{
   opacity: 0;
}

.mat-input-element:disabled {
    color:white;
    text-align:center;
}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before
{
    display:none;
}
// ///////// picker

.picker-md .picker-columns {
    background:$patsgabouyd;  
}
.picker-md .picker-opt {
    color:white;    
    
}
.picker-md .picker-toolbar {
     background:$patsgabouyd;  
    position:fixed;
    top:0px;
    margin-top: 216px;
}
.picker-md .picker-wrapper {
    border:none;
    position:fixed;
    top:0px;
    margin-top: 101px;
}

.picker-toolbar-multi-picker-cancel {
    display: none;
}