<ion-header>
    <ion-navbar color="kotsgabouyd">

        <ion-buttons left>
            <button ion-button icon-only primary>
        <ion-icon name="ios-close-outline"></ion-icon>
      </button>
        </ion-buttons>

        <ion-buttons right>
            <button ion-button icon-only primary>
        <ion-icon name="ios-checkmark"></ion-icon>
      </button>
        </ion-buttons>
        <ion-title>
            FILTER
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="main-view">
    <div class="overlay" tappable (click)="CloseScreen()">
    </div>
    <div class="modal_content">

        <h6 class="Sortby" no-margin>
            SORT BY
        </h6>
        <ion-segment color="primary" mode="ios">
            <ion-segment-button value="0">

                <ion-icon name="ios-pin-outline"></ion-icon>
                <span>Goalkeeper </span>
            </ion-segment-button>

            <ion-segment-button value="1">

                <ion-icon name="ios-cash-outline"></ion-icon>
                <span> Player </span>

            </ion-segment-button>


        </ion-segment>


        <h6 no-margin class="titleboy"> Skill </h6>
        <ion-item class="item-trans">
            <ion-range min="0" max="60" [(ngModel)]="saturation" color="primary">
                <ion-label range-left>Beginner</ion-label>
                <ion-label range-right>Pro</ion-label>
            </ion-range>
        </ion-item>

        <h6 no-margin class="titleboy"> Distance (in Kms)</h6>
        <ion-item class="item-trans">
            <ion-range min="18" max="100" [(ngModel)]="saturation" color="primary">
                <ion-label range-left>0</ion-label>
                <ion-label range-right>300000</ion-label>
            </ion-range>
        </ion-item>

        <h6 no-margin class="titleboy"> Last Seen (in days) </h6>
        <ion-item class="item-trans">
            <ion-range min="18" max="100" [(ngModel)]="saturation" color="primary">
                <ion-label range-left>0</ion-label>
                <ion-label range-right>365</ion-label>
            </ion-range>
        </ion-item>


        <ion-footer>
            <ion-toolbar color="kotsgabouyd">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <button class="apply">
                                     Apply
                             </button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-toolbar>
        </ion-footer>
    </div>
</ion-content>