page-playersfilter{

  .segment-ios-primary .segment-button.segment-activated {
        background:$kotsgabouyd;
    }
  .segment-ios {
       background:$kotsgabouyd;
        padding-bottom:20px;
        border-bottom: 1px solid #5f7485;
       
      .segment-button:first-of-type {
           border-right:1px solid #5f7485;
       }
    
      .segment-button {
          background-color: $kotsgabouyd;
     
        ion-icon{
                padding-top:5px;
                display: block;                                
                line-height: 2.7rem;
                padding-top: 5px;
                font-size: 40px;
        }
    }
    }
    h6{
        color: #5f7485;
        padding:15px;
        font-size: 14px;
        
    }

  
    .item {
            border-bottom: 1px solid #5f7485;
    }
    .grid {
        padding:0px;
        
        }
        .item-md.item-block .item-inner {
            border-bottom:none;
        }
        .range{
            padding: 0px 0 10px;
        }
    .Filterby {
        margin-top:0;
        border-bottom: 1px solid #5f7485;
    }
    ion-grid {
        .row {
             padding-top:10px;
             .col {
                  padding:2px;
                 }
             }
    }
  
    .apply {
       color: $arinagreen !important;
       background-color:transparent;
       border:1px solid #2ab041
                            }
   
.titleboy {
    padding-bottom:0px !important}
}
.modal_content {
    height:100%;
    width:100%;
    background:    $kotsgabouyd !important;
    padding:0px;
}
     ion-footer {
         ion-toolbar { 
            ion-grid {
                 ion-row {
                     ion-col {
                         button {                           
                            width: 100%;
                            height:35px;   
                            color: white;
                            border-radius: 5px;      
                            background-color:transparent;    
                            border-color:1px solid white;               
                         }
                     }
                 }
             }
         }
     }
     
     .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
         top : 0px;
     }
    