<ion-content class="login-background">
  <div margin-bottom text-center *ngIf="IsLoginPage">
    <img class="loginLogo" src="../../assets/imgs/loggo.png">
  </div>
  <ion-list *ngIf="IsLoginPage">

    <ion-item class="cred-input">
      <ion-label floating>
        <ion-icon name="md-mail"></ion-icon> Email
      </ion-label>
      <ion-input class="placeholder-text" type="email" [(ngModel)]="account.username" name="email" required></ion-input>
    </ion-item>

    <ion-item class="cred-input">
      <ion-label floating>
        <ion-icon name="lock"></ion-icon> Password
      </ion-label>
      <ion-input class="placeholder-text" type="password" [(ngModel)]="account.password" name="password" required></ion-input>

    </ion-item>


    <!-- <button [disabled]="account.username == '' || account.password == '' || isLoading" ion-button block -->
    <button ion-button block margin-vertical class="signInOutButton green" type="submit" (click)="doLogin()">
      <span class="buttontext" *ngIf="!isLoading">Sign in</span>
      <ion-spinner *ngIf="isLoading"></ion-spinner>
    </button>

    <button ion-button block margin-vertical class="signInOutButton blue" color="light">
      <ion-grid no-padding>
        <ion-row align-items-center>
          <ion-col col-2>
            <img class="facebooklogo" src="../../assets/imgs/fb.png">
          </ion-col>
          <ion-col>
            <span class="buttontext" *ngIf="!isLoading">Sign in with Facebook</span>
          </ion-col>
          <ion-col col-2>

          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-spinner *ngIf="isLoading"></ion-spinner>
    </button>


    <h6 text-center class="color-white">
      or
    </h6>


    <button ion-button block margin-vertical class="signInOutButton white" (click)="FlipRegister()">
      Register with Email
    </button>

  </ion-list>
  
   <div margin-bottom text-center *ngIf="!IsLoginPage"> 
      <div margin-bottom text-center *ngIf="!IsLoginPage">
    <img class="loginLogo" src="../../assets/imgs/loggo.png">
  </div>
  </div>
   <!-- 
    <img class="photo-image" src="../../assets/imgs/PlayerProfile.png">
    <div class="addphoto">
      <ion-icon name="camera"></ion-icon> Add Image </div>
    </div> 
     -->
    <ion-list *ngIf="!IsLoginPage"> 

      <ion-item class="cred-input">
        <ion-label floating>
          First Name
        </ion-label>
        <ion-input type="text" class="placeholder-text" [(ngModel)]="RegisterAccount.FirstName" name="email" required></ion-input>
      </ion-item>

      <ion-item class="cred-input">
        <ion-label floating>
          Last Name
        </ion-label>
        <ion-input type="text" class="placeholder-text" [(ngModel)]="RegisterAccount.FirstName" name="email" required></ion-input>
      </ion-item>


      <ion-item class="cred-input">
        <ion-label floating>
          Email
        </ion-label>
        <ion-input type="email" class="placeholder-text" [(ngModel)]="RegisterAccount.Email" name="email" required></ion-input>
      </ion-item>

      <ion-item class="cred-input">
        <ion-label floating>
          Password
        </ion-label>
        <ion-input type="text" class="placeholder-text" [(ngModel)]="RegisterAccount.Password" name="password" required></ion-input>

      </ion-item>

      <button ion-button block margin-vertical class="signInOutButton green" type="submit" (click)="Register()">
      <span class="buttontext" *ngIf="!isLoading">Register</span>
      <ion-spinner *ngIf="isLoading"></ion-spinner>
    </button>

      <h6 text-center class="forgotalready" (click)="FlipRegister()">Already have an account? Log in</h6>

    </ion-list>

</ion-content>