page-login {
    .text-input{
        text-align: left;
   }
    .photo-image  {
        width:30%;
        margin-top: 14vh;  
        padding:10px;    

    }
    .addphoto {
        color:white;
        font-weight:100;
    }
    .login-background {
        background-image: url('../../assets/imgs/LoginBack2.jpg');
        background-size: cover;
   }
    .signInOutButton {
        
        color: color($colors, primary);
        border-radius:5px;

        &.green{
            background-color:$arinagreen;
            color:white;
            margin-top: 20px;
        }
        &.green:hover{
            background-color:$arinagreen;
        }

        &.blue{
            background-color:#3b5998;
            color:white;
        }
        &.blue:hover{
            background-color:#3b5998;
        }

        &.white{
            background-color: white;
            color:color($colors, primary);;
        }
        &.white:hover{
            background-color: white;
        }
   }
    ion-icon{
        font-size:20px;
        margin-right:5px
    }
   .facebooklogo{
        height: 30px;
        float: left;
   }

    .buttontext {
        font-size:15px;
        color:white;
        text-transform:none 
   }

    .item-inner{
        padding: 0 !important;
        border-bottom:0px !important;
   }
    .loginLogo{
        width: 35vw;
        margin-top: 18vh;
   }
    ion-spinner{
        * {
            stroke: color($colors, primary) !important;
       }
   }
    .placeholder {
        margin-left:10px;
   }

   .cred-input {
    background-color:transparent;
    padding:0px;
   
    ion-input{
        padding-left:15px;
        text-align:left;
        background: rgba(0 ,0 ,0 ,0.3)
    }
}
.label-md[stacked], .label-md[floating] {
    margin-left:10px;
}
.forgotalready {
    color:white;
    font-weight:100;
    font-size:12px;
    margin-top: 35px;
}


.input-wrapper {
    margin-top:-10px;
}

.item-label-stacked .text-input-md, .item-label-floating .text-input-md {
    margin:12px 0;
    width: calc(100% - 8px);
}
.item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating], .item-input-has-value .label-md[floating], .input-has-value .label-md[floating] {
    color:white;
}
}



