<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      TEST
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label color="primary">Name</ion-label>

      <ion-input [(ngModel)]="Customer.FirstName" placeholder="...">

      </ion-input>

    </ion-item>

    <ion-item>
      <ion-label color="primary">Telephone</ion-label>

      <ion-input type="number" [(ngModel)]="Customer.Phone" placeholder="...">

      </ion-input>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer class="footer">
  <button ion-button (click)="SaveCustomer()">Save</button>
</ion-footer>