page-schedules {

	// .scroll-content {
	// 	background: $patsgabouyd;
	// }

.barimageicons {
width:23px;
height:23px;

}

	.footer {	
    background-color:$arinagreen;	
	.button{
		h6{
			font-size:16px;
			margin-left:5px;
			font-weight: 100;
			margin-top:10px;
		}
			ion-icon {
				font-size:20px;
			
			}
	}
	
}
.toolbar-background {
		background-color:$patsgabouyd !important;
}
    .background {
		background-color:$patsgabouyd;
	}
	.padding-top{
		padding-top:0px;}
	.padding-top:last-of-type {
padding-bottom:20px;
	}
	.ministadium {
		background-color: transparent;
		padding: 5px 0;
		color: white;
		border-radius: 47px;
        border:1px solid $arinagreen;
        font-size: 16px;
        margin: 0px 5px;
		font-weight: bold;
		margin-top: 5px;
	}
	.display {
		display: block;
			font-weight:100;
	}
	ion-card.schedulebox {
		margin-top: 7px;
		padding: 0px;
		background-color: $kotsgabouyd;
		color: white;
		
		ion-row.boxpadding {
			padding: 5px 5px 5px 0;
			ion-col.rightpart {
                padding: 5px 0 5px 16px;
                h6 {
					display:inline-block;
						font-weight:100;

                }
			}
			ion-col {
				padding: 0;
				text-align: center;
				align-self: center;
				h6 {
					margin: 0px;
					color: white;
					display: block;
					font-size: 15px;
					padding-left: 6px;
					ion-icon {
						font-size: 15px;
						padding: 0px;
						margin: 0px;
					}
				}
			}
		}
	}
	ion-card.schedulebox:last-of-type {
		margin-bottom:8px;
}
.toolbar-background {
	background-color:$kotsgabouyd;
}
ion-grid.searchbar1 {

    text-align: center;
	color:white;
	    margin-top: -15px;
	min-height:45px;
	
    padding:0px;
	
	background-color:$patsgabouyd;

	ion-row.boxpadding{

margin-top: 10px;
		ion-col{
		h6{
			font-size:14px;
			font-weight:100;
			margin-top: 0.4rem;
			margin-bottom: 0.4rem;
			text-align: center;
		}
	}
	
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.title {
	font-weight:100;
}

.picked {
    color:white;
    background-color:$arinagreen;
	margin:0px;
	border-radius:2px;

}

}
}