<ion-header class="navbackground">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button class="today" (click)="GoToday()">
        <img src="../../assets/imgs/today.png" class="barimageicons">
      </button>
    </ion-buttons>
    <ion-title>
      <mat-form-field (click)="picker.open()">
        <input disabled [(ngModel)]="CurrentDate" (ngModelChange)="GoToDate()" matInput [matDatepicker]="picker"
          placeholder="Choose a date">
        <mat-datepicker #picker disabled="false" touchUi="true"></mat-datepicker>
      </mat-form-field>
    </ion-title>
  </ion-navbar>

  <ion-grid class="searchbar1" no-padding>

    <ion-row class="boxpadding">

      <ion-col tappable (click)="SelectDate(Dates[0])" [class]="Dates[0].Selected ? 'col picked':'col'">
        <h6>
          {{Dates[0].Date | date:'EEEEE'}}
        </h6>
        <h6>
          {{Dates[0].Date | date:'dd'}}
        </h6>
      </ion-col>
      <ion-col tappable (click)="SelectDate(Dates[1])" [class]="Dates[1].Selected ? 'col picked':'col'">
        <h6>
          {{Dates[1].Date | date:'EEEEE'}}
        </h6>
        <h6>
          {{Dates[1].Date | date:'dd'}}
        </h6>
      </ion-col>
      <ion-col tappable (click)="SelectDate(Dates[2])" [class]="Dates[2].Selected ? 'col picked':'col'">
        <h6>
          {{Dates[2].Date | date:'EEEEE'}}
        </h6>
        <h6>
          {{Dates[2].Date | date:'dd'}}
        </h6>
      </ion-col>
      <ion-col tappable (click)="SelectDate(Dates[3])" [class]="Dates[3].Selected ? 'col picked':'col'">
        <h6>
          {{Dates[3].Date | date:'EEEEE'}}
        </h6>
        <h6>
          {{Dates[3].Date | date:'dd'}}
        </h6>
      </ion-col>
      <ion-col tappable (click)="SelectDate(Dates[4])" [class]="Dates[4].Selected ? 'col picked':'col'">
        <h6>
          {{Dates[4].Date | date:'EEEEE'}}
        </h6>
        <h6>
          {{Dates[4].Date | date:'dd'}}
        </h6>
      </ion-col>
      <ion-col tappable (click)="SelectDate(Dates[5])" [class]="Dates[5].Selected ? 'col picked':'col'">
        <h6>
          {{Dates[5].Date | date:'EEEEE'}}
        </h6>
        <h6>
          {{Dates[5].Date | date:'dd'}}
        </h6>
      </ion-col>
      <ion-col class="center" tappable (click)="SelectDate(Dates[6])" [class]="Dates[6].Selected ? 'col picked':'col'">
        <h6>
          {{Dates[6].Date | date:'EEEEE'}}
        </h6>
        <h6>
          {{Dates[6].Date | date:'dd'}}
        </h6>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-header>

<ion-content no-padding (swipe)="swipeEvent($event)">


  <ion-spinner name="bubbles" class="spinner-balanced" class="loading-center" *ngIf="LoadingPage"></ion-spinner>

  <div class="padding-top" *ngFor="let item of ListOfSchedules">
    <div text-center text-uppercase class="ministadium">
      {{item.key}}
    </div>
    <ion-card class="schedulebox" *ngFor="let schedules of item.value" tappable (click)='EditBooking(schedules)'>

      <ion-row class="boxpadding">

        <ion-col col-3 class="center borderright">
          <h6 class="display">
            {{schedules.ScheduleDateFrom | date : "shortTime"}}
          </h6>
          <h6 class="display">
            -
          </h6>
          <h6 class="display">
            {{schedules.ScheduleDateTo | date : "shortTime"}}
          </h6>
        </ion-col>

        <ion-col text-left col-9 class="rightpart">
          <ion-row>

            <ion-icon name="person"></ion-icon>
            <h6 text-capitalize>
              {{schedules.Member.FirstName}}
            </h6>
          </ion-row>

          <ion-row>
            <div style="padding:8px">

            </div>
          </ion-row>


          <ion-row>
            <ion-col text-left>

              <ion-icon text-capitalize text-start name="call"> </ion-icon>
              <h6>
                {{schedules.Member.Phone}}
              </h6>
            </ion-col>


            <ion-col text-right>

              <ion-icon text-capitalize text-end name="pricetag">

              </ion-icon>
              <h6>
                {{schedules.Price}} LL
              </h6>
            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>


    </ion-card>
  </div>


</ion-content>
<ion-footer (click)="AddBooking()">
  <button ion-button>
    <ion-icon name="ios-add-circle-outline"> </ion-icon>
    <h6 text-capitalize>
      Add Booking
    </h6>

  </button>
</ion-footer>