<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Leaderboard
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid class="top-head">

    <ion-row align-items-end>

      <ion-col class="not-first-col">
        <h6 class="team-title">
          {{LeaderBoards[0].TeamName}}
        </h6>
        <img src="assets/imgs/Badges/{{LeaderBoards[0].Badge}}.png">
      </ion-col>

      <ion-col class="first-col">
        <h6 class="team-title">
          {{LeaderBoards[1].TeamName}}
        </h6>
        <img src="assets/imgs/Badges/{{LeaderBoards[1].Badge}}.png">
      </ion-col>

      <ion-col class="not-first-col">
        <h6 class="team-title">
          {{LeaderBoards[2].TeamName}}
        </h6>
        <img src="assets/imgs/Badges/{{LeaderBoards[2].Badge}}.png">
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <h6 class="position-title" style="margin-top: 5px">
          2nd
        </h6>
      </ion-col>

      <ion-col>
        <h6 class="position-title" style="font-size:25px">
          1st
        </h6>
      </ion-col>

      <ion-col>
        <h6 class="position-title" style="margin-top: 5px">
          3rd
        </h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h6 class="ranking-title">
          {{LeaderBoards[2].Rating}}AR
        </h6>
      </ion-col>

      <ion-col>
        <h6 class="ranking-title">
          {{LeaderBoards[2].Rating}}AR
        </h6>
      </ion-col>

      <ion-col>
        <h6 class="ranking-title">
          {{LeaderBoards[2].Rating}}AR
        </h6>
      </ion-col>
    </ion-row>

  </ion-grid>


  <ion-grid class="bottom-sec-head">

    <ion-row align-items-center>

      <ion-col col-1>

      </ion-col>

      <ion-col col-8 text-left>
        <h6>
          Teams
        </h6>
      </ion-col>

      <ion-col col-3 text-right>
        <h6>
          Rating
        </h6>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid class="bottom-sec">

    <ion-row *ngFor="let item of LeaderBoards; let index = index" align-items-center [hidden]="index<2">

      <ion-col col-1>
        <h6>
          {{index}}
        </h6>
      </ion-col>

      <ion-col col-8 text-left>
        <h6>
          {{item.TeamName}}
        </h6>
      </ion-col>

      <ion-col col-3 text-right>
        <h6 style="color:turquoise;font-weight:300">
          {{item.Rating}} AR
        </h6>
      </ion-col>

    </ion-row>

  </ion-grid>


</ion-content>