page-leaderboard {



    ion-grid.top-head{

        background-color: $patsgabouyd;
        padding-bottom:0px;
        ion-col{
            text-align: center;
            padding-bottom: 0px
        }
        ion-col.not-first-col{

            img{
                width: 50px;
                height: 50px;
                
                
            }
        }
        ion-col.first-col{

            img{
                width: 70px;
                height: 70px;
            }
        }
    }

    ion-grid.bottom-sec{
        
        background-color: $patsgabouyd;
        h6{
            color: white;
            font-size: 14px;
            margin: 0;
        }
        ion-row{
            padding-top: 4px;
            padding-bottom: 4px;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: #5f7485;
        }
    }

    ion-grid.bottom-sec-head{
        h6{
            color: white;
            font-size: 14px;
            margin: 0;
        }
    }
    
    h6.team-title{
        color: white;
        font-weight: 500;
        font-size: 13px;
    }
    h6.position-title{
        color: white;
        font-weight: 700;
        font-size: 17px;
        padding: 0;
        margin: 0;
    }
    h6.ranking-title{
        color: $turquoise;
        font-weight: 300;
        font-size: 14px;
    }
    

}
