<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Feedbacks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="top-sec">
    <h6>
      Call Us (+961) -71 258370
    </h6>

    <h6>
      Or
    </h6>

    <h6>
      Write Your Feedback
    </h6>
  </div>

  <ion-item>
    <ion-textarea rows="5" placeholder="Found A Bug?" [(ngModel)]="FeedBack" max-length='300'></ion-textarea>
  </ion-item>

  <button ion-button (click)="SaveFeedback()">Save</button>

</ion-content>