page-editbooking {

    .modal_content {

        background: $patsgabouyd;
        color:white;
        height:320px;
}

    button{
        width: 86%;
        left:7%;
       
    }
  .title
  {
            font-size:17px;
            margin-top:5px;
            margin-bottom:20px;
            text-align: center;
            color:white;
            text-transform: capitalize;
  }
         .close {
            font-size:17px;
            margin-top:5px;
            ion-icon {
                font-size:25px;
                 margin-right: -7px;
            margin-top: 4px;
            color:white;
              
            }
         }
}
