<ion-content class="main-view">
  <div class="overlay" tappable (click)="CloseScreen()">
  </div>
  <div class="modal_content">

    <div class="title"> {{CurrentBooking.Member.FirstName}}'s Booking </div>
    <div tappable (click)="CloseScreen()" class="close">
      <ion-icon name="close" class="close-modal"></ion-icon>
    </div>

    <button ion-button (click)="EditBooking(CurrentBooking)" style="margin:10px 0 0; border-color: #0c60ee;background-color: #387ef5;">
      Edit
    </button>


    <button ion-button (click)="CancelBooking(CurrentBooking)" style="margin:10px 0 0;border-color: #e42112;background-color: #ef473a;">
      Cancel
    </button>


    <button ion-button (click)="CancelBooking(CurrentBooking,true)" style="margin:10px 0 0;border-color: #e42112;background-color: #ef473a;">
      Cancel All
    </button>

    <button ion-button style="margin:10px 0 10px;border-color: #e42112;background-color: #ef473a;">
      Report {{CurrentBooking.Member.FirstName}}
    </button>


  </div>
</ion-content>