<ion-footer class="center" style="height: 50px" *ngIf="Visibility">
  <ion-toolbar color="danger">
    <ion-title class="nopadding">

      YOU ARE NOT CONNECTED TO THE INTERNET

    </ion-title>
  </ion-toolbar>
</ion-footer>

<!-- <ion-footer class="center" style="height: 50px" *ngIf="IsSyncing">
  <ion-toolbar color="secondary">
    <ion-title class="nopadding">

      SYNCING YOUR DATA ...

    </ion-title>
  </ion-toolbar>
</ion-footer> -->