page-addteam {
    

    .span.button-inner {
        font-size:20px;
    }
ion-footer {
    .toolbar-background-md {
    background-color:transparent;
    border: 0px solid transparent; 
}
}

    .team-add-sec{
        text-align: center;
        .text-input{
            color: white;
            text-align: center;
                margin: 0px;
                    margin-left: 10px;
        }
    }

.item-md {
    padding:0px;
    width: 66%;
    margin-left:17%;
}
.item-md.item-block .item-inner {
    padding:0px;
}
    ion-grid.badge-list{
        img{
            height: 50px;
            width: 50px;
        }
		img.selectedBadge{
        border-width: 2px;
        border-color:$arinagreen;
        border-style: solid;
        border-radius:5px;
        // border-spacing: 10px;
        // width: 60px;
        // height: 60px;
        // margin-top: -5px;
        // outline-color: $arinagreen;
    // outline-width: thick;
    // outline-style: solid;
    // outline-offset: 5px;
    }














    }
	.teambadgelogo {
    width:100px;
    height:100px;
    margin:auto;
    margin-top:10px;
    margin-bottom:20px;
}









.teamsizebuttons {


  
      background-color:white;
    color:$arinagreen;
    border-radius:5px;
    width:90%;
}
.teamsizebuttonsActive {

    background-color:white;
    color:$arinagreen;





    border-radius:50px;
    width:90%;
}


.button-clear-md:hover:not(.disable-hover){
    background-color:white;
    color:$arinagreen;
}

.teamsizebuttonsActive {
    background-color:$arinagreen;
    color:White;
    border-radius:5px;
    width:90%;
}

ion-grid.teamsize {
    margin-top:15px;
    color:white;
    font-size:14px;
}
.inforow {
 padding-top:5px;
}
.infoicon {
    font-size:32px;
    color:$arinagreen;
    padding-top:0px;
}
.infotext {
    color:$arinagrey;
    font-size: 12px;    
    margin-left: -5px;
    padding:3px 0 0 0px;
 
}

.titletext {
    color:white;
    font-size:14px;
    padding-top: 10px;
}
.red {
    background-color:red;
    width:90%;
    border-radius:50px;
}
.yellow {
    background-color:yellow;
    width:90%;
    border-radius:50px;
}
.green {
    background-color:$arinagreen;
    width:90%;
    border-radius:50px;
}
.black {
    background-color:black;
    width:90%;
    border-radius:50px;
}
.white {
    background-color:white;
    width:90%;
    border-radius:50px;
}
.blue {
    background-color:blue;
    width:90%;
    border-radius:50px;
}
.jersey {
    height:70px;
    width:70px;
    padding-bottom: 10px;
    margin: auto;
}
ion-grid.badge-list{
 ion-row {
     ion-col {
         max-width:20%
     }
 }
}
.teambadgelogo {
    width:100px;
    height:100px;
    margin:auto;
    margin-top:10px;
    margin-bottom:20px;
}
       
}   

