<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons (click)="GoToNext()" end *ngIf="slidenumber == 2">
      <button button-icon ion-button color="royal">
        <ion-icon name="ios-add-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons (click)="GoToNext()" end *ngIf="slidenumber == !2">
      <button button-icon ion-button color="royal">
        <ion-icon name="ios-arrow-dropright-outline"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Add a Team</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="slidenumber==0">
    <div class="team-add-sec">

      <h6 class="titletext">
        TEAM NAME
      </h6>

      <ion-item class="input-trans">
        <ion-input [(ngModel)]="MyTeam.name" placeholder="Enter Your Team Name"></ion-input>
      </ion-item>


      <h6 class="titletext">
        FAVORITE STADIUM
      </h6>

      <ion-item class="input-trans">
        <ion-input placeholder="Select" (click)="selectStadium()"></ion-input>
      </ion-item>


      <ion-row class="inforow">

        <ion-col class="infoicon" col-2>
          <ion-icon name="ios-information-circle-outline"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <h6 text-left class="infotext"> Info: Your chosen favorite stadium will be used as your team's location. </h6>
        </ion-col>
      </ion-row>

      <ion-grid class="teamsize" no-padding>
        <h6 class="titletext"> PREFERED MATCH TYPE(S) </h6>
        <ion-row>
          <ion-col col-4 *ngFor="let item of matchSizes;last as isLast" [attr.offset-4]="isLast?'':null">
            <button [ngClass]="{'teamsizebuttonsActive': item.active}" [disabled]="!item.active && countMatchSizesSelected==3"
              (click)="toggleSelected(item)" ion-button small clear item-end class="teamsizebuttons"> {{item.name}} v
              {{item.name}} </button>
          </ion-col>
          <!--<ion-col col-4>
            <button ion-button small clear item-end class="teamsizebuttons">5 v 5</button>
          </ion-col>
          <ion-col col-4>
            <button ion-button small clear item-end class="teamsizebuttons">6 v 6</button>
          </ion-col>
          <ion-col col-4>
            <button ion-button small clear item-end class="teamsizebuttons">7 v 7</button>
          </ion-col>

        </ion-row>
        <ion-row>

          <ion-col col-4>
            <button ion-button small clear item-end class="teamsizebuttons">8 v 8 </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button small clear item-end class="teamsizebuttons">9 v 9</button>
          </ion-col>
          <ion-col col-4>
            <button ion-button small clear item-end class="teamsizebuttons">10 v 10</button>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col col-4 offset-4>
            <button ion-button small clear item-end class="teamsizebuttons">11 v 11</button>
          </ion-col>-->

        </ion-row>
      </ion-grid>
      <ion-row>

        <ion-col class="infoicon" col-2>
          <ion-icon name="ios-information-circle-outline"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <h6 text-left class="infotext"> Info: You can select up to 3. You will be matched against opponents with the
            same team size(s) as your team only. </h6>
        </ion-col>
      </ion-row>
    </div>

  </div>

  <div *ngIf="slidenumber==1">

    <div style="text-align: center">
      <div class="teambadgelogo">
        <img name="teamBadge" [(ngModel)]="selectedBadge" src="assets/imgs/Badges/{{selectedBadge.key}}.png"
          ngDefaultControl>
      </div>
      <ion-grid class="badge-list">
        <ion-row>
          <ion-col col-3 *ngFor="let item of Badges">
            <img [ngClass]="{selectedBadge:item.selected}" (click)="selectBadge(item)" src="assets/imgs/Badges/{{item.key}}.png">
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

  </div>

  <div *ngIf="slidenumber==2">
    <ion-grid no-padding>
      <h6 class="title" text-center> Home Jersey </h6>
      <img class="jersey" [(ngModel)]="MyTeam.homeJersey" src="../../assets/imgs/Jerseys/{{MyTeam.homeJersey}}.png"
        ngDefaultControl>
      <ion-row>
        <ion-col col-4 *ngFor="let color of colors">
          <button [ngClass]='color' ion-button small item-end (click)="selectHomeJersey(color)" [disabled]="MyTeam.homeJersey== color || MyTeam.awayJersey==color"></button>
        </ion-col>

        <!-- there was old inefficient markup that i deleted .. get them from old gits if you need them 12-10-2018 -->


      </ion-row>

      <h6 class="title" text-center> Away Jersey </h6>
      <img class="jersey" src="../../assets/imgs/Jerseys/{{MyTeam.awayJersey}}.png" ngDefaultControl>
      <ion-row>
        <ion-col col-4 *ngFor="let color of colors">
          <button [ngClass]='color' ion-button small item-end (click)="selectAwayJersey(color)" [disabled]="MyTeam.awayJersey== color || MyTeam.homeJersey== color"></button>
        </ion-col>
        <!-- there was old inefficient markup that i deleted .. get them from old gits if you need them 12-10-2018 -->
      </ion-row>

    </ion-grid>

  </div>

</ion-content>

<ion-footer class="footerbackground">
  <ion-toolbar class="footerbackground">
    <button ion-button class="ButtonGreen-Medium footerbackground" (click)="GoToNext()" *ngIf="slidenumber == 2">
      Create
    </button>
    <button ion-button class="ButtonGreen-Medium footerbackground" (click)="GoToNext()" *ngIf="slidenumber != 2">
      NEXT
    </button>
  </ion-toolbar>
</ion-footer>
