page-feedbacks {

    .top-sec{
        margin-top: 15px;
        text-align: center;
    }

    h6{
        font-size: 13px;
        color: white;
    }

    .text-input{
        text-align: left;
    }
    .item.item-textarea {
    background: rgba(0, 0, 0, 0.5);
}
.text-input {
    color:white
}
}

