// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #2ab041,
  secondary:  #f4f4f4,
  danger:     #f53d3d,
  tayyar:     #f4f4f4,
  dark:       #222,
  arinagrey:  #5f7485,
  kotsgabouyd:rgb(45, 62, 75),
  patsgabouyd:rgb(62, 75, 100),
  
);

$button : (
  background-color: #2FB143,
);

$arinagreen:#2FB143;
$arinared:#DA291C;
$kotsgabouyd:rgb(45, 62, 75);
$patsgabouyd:rgb(62, 75, 100);



.error {color:red}

$item-md-divider-background:$patsgabouyd;
$item-md-sliding-content-background:$patsgabouyd;
$item-md-divider-border-bottom:$patsgabouyd;
$searchbar-md-input-search-icon-color: white;
$label-md-text-color : color($colors,secondary);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

.md button {
  text-transform: none;
  
}
$spinner-md-bubbles-color: #2ab041;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
