<ion-header>
   <ion-navbar>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div text-center>
    <img class="profile-photo" src="https://www.rd.com/wp-content/uploads/2017/09/01-shutterstock_476340928-Irina-Bg-1024x683.jpg">

    <div>
      <button ion-button primary>
        Change Picture
      </button>
    </div>
  </div>

  <ion-item class="input-trans" margin-top>
    <ion-input placeholder="Enter Your First Name"></ion-input>
  </ion-item>

  <ion-item class="input-trans" margin-top>
    <ion-input placeholder="Enter Your Last Name"></ion-input>
  </ion-item>

  <h6>
    Birthday
  </h6>

  <ion-item class="input-trans">
    <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
  </ion-item>

  <h6>
    ABOUT ME
  </h6>

  <ion-item class="input-trans">
    <ion-textarea rows="5" placeholder="Write something cool about yourself!"></ion-textarea>
  </ion-item>

  <ion-item no-lines margin-top>
    <ion-label>TEAM DISPLAYED</ion-label>

    <ion-select [(ngModel)]="Recurring" no-line>

      <ion-option value="0">Barca</ion-option>
      <ion-option value="1">Real</ion-option>
      <ion-option value="2">RJ</ion-option>
    </ion-select>
  </ion-item>

  <h6>
    POSITION
  </h6>
  <ion-segment mode="ios" [(ngModel)]="BookingType" color="primary">
    <ion-segment-button value="0">

       <img src="../../assets/imgs/Goalkeeper.png" class="barimageicons">
      <span> Goalkeeper </span>

    </ion-segment-button>
    <ion-segment-button value="1">
           <img src="../../assets/imgs/player.png" class="barimageicons">
      Player
    </ion-segment-button>
     <ion-segment-button value="2">
        <img src="../../assets/imgs/gkplayer.png" class="GKplayer">
     ANY
    </ion-segment-button>
  </ion-segment>

  <ion-item no-lines>
    <ion-label>Do you want to be invited to matches?</ion-label>
    <ion-toggle [(ngModel)]="Member"></ion-toggle>
  </ion-item>

  <ion-grid>

  </ion-grid>

</ion-content>