page-editprofile {

    img.profile-photo{
        height: 80px;
        width: 80px;
        border-radius: 30px;
    }

    h6{
        color: white;
        font-size: 13px;
    }
    .GKplayer {
        height:50px; 
        width:100px;
        display:block;
        padding:0px;
       
    }
    .barimageicons {
        height:50px;
        
        padding:0px;
    }
 
    .segment-ios {
        background-color: #2d3e4b;
    }
.select-text {
    color:$arinagreen;
}
.toggle-md .toggle-inner {
    background:$arinared;
}
.toggle-md .toggle-icon { 
    background:#cb4c42;
}
.alert-md .alert-radio-group, .alert-md .alert-checkbox-group {
    border:none;
}
.alert-md .alert-radio-label { 
    color:white;
}
$alert-md-input-border-color:transparent;
}
