<ion-menu [content]="content">
  <ion-content class="menu-section my-container">

    <ion-list>
      <ion-item class="headerrr" menuClose ion-item>

      </ion-item>

    </ion-list>

    <ion-list>

      <button ion-item menuClose class="menu-button" *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>

        <h6>
          {{p.title}}
        </h6>

      </button>

    </ion-list>

    <ion-list style="position:fixed;bottom:0px">
      <!-- <button class="menu-button" menuClose ion-item>
        <ion-icon name="power" style="margin-right:20px"></ion-icon>
        Log out

      </button> -->
    </ion-list>

  </ion-content>

  <ion-footer>
    <button class="menu-button" menuClose ion-item (click)="Logout()">
      <ion-icon name="power" style="margin-right:20px"></ion-icon>
      Log out
    </button>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>