
::-webkit-scrollbar {
    display: none;
}
.turquoise {
    color:turquoise;
}
.arinagrey {
     color:#5f7485;
}

// *******MODAL SIZE DEFAULT - OVERRIDE IF NECCESSARY*****
ion-content.main-view {
    background: transparent;
}
.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .6;
    background-color: #071b2d;
}
.modal_content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    z-index: 100;
    margin: auto;
    padding: 10px;
    color: #333;
    background: #e8e8e8;
    background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: linear-gradient(to bottom, #fff 0%, white 100%);
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
}

.close-modal {
    font-size: 34px;
    color: $arinagreen;
    margin-left: 15px;
    position: absolute;
    z-index: 9999;
    right: 18px;
    top: 10px;
} 

///////////////////////menu

ionic-content.menu-section {
    background: linear-gradient(to bottom, rgb(62, 75, 100), rgb(45,62,75));
    h6{
        color: white;
   }
    button{
        background-color: transparent;
   }
}

.content{
    background-color: rgb(45, 62, 75) 
}


///////////colors

h6.color-white{
    color: white;
}

h6.color-row-titles{
    color: #5f7485
}


////////////////////


.toolbar-title-md {
    color:white;
}
.refresher-pulling-text, .refresher-refreshing-text {
    text-align: center;
    font-size: 14px;
    color: color($colors, primary);
}
.button-md{
    font-weight: bold;
    border-radius: 3px;
    
}
.bold .toolbar-title{
    font-weight: bold;
}
.darkColor .toolbar-title {
    color: color($colors, dark);
    text-transform: capitalize;
}
.toolbar-title{
    text-transform: uppercase;
    padding: 0;
    font-size: 16px;
}
ion-title {

    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    text-align: center;
}

.item-md .item-button{
    height: 44px;
}
.list .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child, .item.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner, .item.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner, .item.item-input.input-has-focus .item-inner, .list .item-input.input-has-focus:last-child, .item.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner, .list .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child, .item.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner, .list .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    box-shadow: none !important;
}
.item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input
{
    margin-left:0px;
    margin-top:3px;
}
ion-spinner{
    width: 25px;
    height: 25px;
    margin: auto;
}
.ellipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


//MENU
.bar-button {
    color: white;
    background-color: transparent;
}
.bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover) {
    color: white;
}
.bar-button-md:first-child {
    font-size: 20px;
}
ion-navbar{
    .toolbar-background{
        background-color: $patsgabouyd;
    }
}

//MENU


.my-container {
    background: linear-gradient(to bottom, rgb(62, 75, 100), rgb(45,62,75));
    .menu-button {
        background-color: transparent ;
        color: white;
        border: none;
        .item-inner{
            margin-top:10px;
            border: none;
       }
        .item-md {
            background-color:rgb(62, 75, 100) 
       }
        h6{
            color: white;
            margin-left: 12px;
            font-size: 16px 
       }
   }
    .headerrr {
        height:70px;
        background-color: transparent;
        background-image: url('../../assets/imgs/loggo.png');
        background-size: 110px 55px;
        border-color: transparent;
         background-repeat: no-repeat;
    margin-top:15px;
    margin-left:77px;
    padding-bottom:0px;
   }
}
.ion-navbar.toolbar {
  
     background:$patsgabouyd;
     border-color: $patsgabouyd;
}

// .footer {
//     background-color:transparent;
//     text-align: center;
//     justify-content: center;
//     align-items: center;
//     color: white;
//     .button {
//         background-color:transparent;
//         box-shadow:none;
//         width: 100% 
//    }
// }

// .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
//     background:none;
// }
.color-green{
    color: $arinagreen;
}

///BUTTONS

.button.ButtonGreen-Medium {
    background-color: $arinagreen;
    color: white;
    width: 180px;
    text-transform: none;
    border-radius: 20px;
}
.button.ButtonGreen-Medium:hover {
    background-color: $arinagreen;
}

.button.ButtonRed-Medium {
    background-color: $arinared;
    color: white;
    width: 180px;
    text-transform: none;
}
.button.ButtonRed-Medium:hover {
    background-color: firebrick;
}

/////////


////ITEM

ion-item.input-trans{
    background-color: transparent;
    .item-inner{
        border-style: solid;
        border-width: 1px;
        border-color: lightgray;
        border-radius: 5px;
    }
}

ion-label,.text-input,.datetime-text{
    color: white;
    font-size: 13px;
}

.item{
    background-color: transparent;
    .item-inner{
        border-bottom: none
    }
}


//////BOOKING


    

///////////


//ALIGNMENTS


//TEXT-ALIGNMENT
.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}



.fullheight {
    height: 100%;
}
.round-corner {
    border-radius: 2px;
}


///////////////borders
.borderleftright {
    border-right:1px solid #5f7485;
    border-left: 1px solid #5f7485
}
.borderleft {
    border-left: 1px solid #5f7485
}



.capitalize {
    text-transform:capitalize;
}


.list-md {
    margin-bottom:0px;
}

.scroll-content {
        padding: 10px;
}


///////RESERVE BOX

ion-card.reserve-box{
   
    ion-card-content{
        background-color: $patsgabouyd;
   }
    h6{
        color: white;
   }
    img{
        height: 150px;
   }
    ion-grid.stadium-info{
        text-align: center;
        padding-top:10px;
   }
    ion-grid.button-reserve{
        padding:0px 3px 2px;
        text-align: center;
        .button{
            width: 95% 
       }
   }
    ul {
        padding: 0px;
        margin: 0px;
        &.rating li {
            padding: 1.5px !important;
            background: none;
            color: orange;
            ion-icon {
                font-size: 16px;
           }
       }
   }
}


////////////////////////popup

.alert-md {
	.alert-wrapper {
		border-radius: 7px;
		max-width: 500px;
        width: 90%;
        background-color: $patsgabouyd;
        position: fixed;
        top:200px;
	}
	.alert-sub-title {
		display: none;
	}
	.alert-message {
		display: none;
	}
	.alert-title {
        text-transform:capitalize;
		font-size: 15px;
		color: white;
		font-weight: 100;
		background-color: $patsgabouyd;
		color: white;
		font-size: 15px;
		text-align: center;
	}
	.alert-button-group {
		background-color: $patsgabouyd;
		padding: 8px;
    }
    .alert-button:first-child:last-child {
        width: 100%;
        margin-right:0px;
        background-color: #2ab041;
		color: white;
	}
	.alert-button:nth-child(2) {
		border-radius: 20px;
		background-color: #2ab041;
		color: white;
		font-weight: 100;
		font-size: 18px;
		width: calc(50% - 3px);
        justify-content: center;
        margin:0px;
		.button-inner {
			justify-content: center;
		}
	}
	.alert-button:nth-child(1) {
		border-radius: 20px;
		background-color: white;
		color: #5f7485;
		margin:0 6px 0 0;
		font-weight: 100;
		font-size: 18px;
		width: calc(50% - 3px);
		justify-content: center;
		.button-inner {
			justify-content: center;
			
		}
    }
  
}
.segment-md-secondary .segment-button.activated, .segment-md-secondary .segment-button.segment-activated {
    border-color:$arinagreen;
}
    


 ////////card

 .card {
    background:transparent;
    border-radius:2px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }

 /////Backcolor//////

.backcolor-green{
    background-color: $arinagreen;
}

 ////PICKER

 ion-multi-picker{
    text-align: center;
    width: 100%;
    color: white;
}

.picker-md .picker-columns {
    background:$patsgabouyd;  
}
.picker-md .picker-opt {
    color:white;    
    
}
.picker-md .picker-toolbar {
     background:$patsgabouyd;  
    position:fixed;
    top:0px;
    margin-top: 216px;
}
.picker-md .picker-wrapper {
    border:none;
    position:fixed;
    top:0px;
    margin-top: 101px;
}

.picker-toolbar-multi-picker-cancel {
    display: none;
}

////SPINNER
/***** Loading *****/
ion-spinner.loading-center {
    position: absolute;
    left: 50%;
    top: 50%;
  }
  
  ion-spinner.loading-center .z-index {
    z-index: 2;
  }