<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add a Promotion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>



  <ion-item>
    <ion-icon name="create" item-left></ion-icon>
    <ion-label>Promotion Title</ion-label>
    <ion-input [(ngModel)]="Promotion.Title" placeholder="..."></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="pin" item-left></ion-icon>
    <ion-label>Stadium</ion-label>
    <ion-select [(ngModel)]="Promotion.MiniStadiumId">
      <ion-option *ngFor="let item of Stadiums" value="{{item.MiniStadiumId}}">{{item.Name}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-icon name="pricetag" item-left></ion-icon>
    <ion-label>Price</ion-label>
    <ion-input [(ngModel)]="Promotion.Price" placeholder="..."></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="pricetags" item-left></ion-icon>
    <ion-label>New Price</ion-label>
    <ion-input [(ngModel)]="Promotion.NewPrice" placeholder="..."></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="calculator" item-left></ion-icon>
    <ion-label>Discount %</ion-label>
    <ion-input [(ngModel)]="Promotion.Discount" placeholder="..."></ion-input>
  </ion-item>

  <ion-item>

    <ion-icon name="calendar" item-left></ion-icon>
    <ion-label>Days Of Week</ion-label>
    <ion-select [(ngModel)]="Promotion.Day">
      <ion-option value="0">Monday</ion-option>
      <ion-option value="1">Tuesday</ion-option>
      <ion-option value="2">Wednesday</ion-option>
      <ion-option value="3">Thursday</ion-option>
      <ion-option value="4">Friday</ion-option>
      <ion-option value="5">Saturday</ion-option>
      <ion-option value="6">Sunday</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-icon name="time" item-left></ion-icon>
    <ion-label>Start Time</ion-label>
    <ion-datetime minuteValues="0,30" displayFormat="HH:mm" [(ngModel)]="Promotion.StartDate"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-icon name="timer" item-left></ion-icon>
    <ion-label>End Time</ion-label>
    <ion-datetime minuteValues="0,30" displayFormat="HH:mm" [(ngModel)]="Promotion.EndDate"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-icon name="refresh" item-left></ion-icon>
    <ion-label>Recurring</ion-label>
    <ion-checkbox item-right [(ngModel)]="Promotion.IsRecurring"></ion-checkbox>
  </ion-item>


</ion-content>

<ion-footer class="footer">
  <button ion-button (click)="SavePromotion()">Save</button>
</ion-footer>