page-addpromotions {

    .item-md{
        background: linear-gradient(to bottom, rgb(62, 75, 100));
        color: white;
        border: none;
    }
  
    .text-input{
      text-indent: 0;
        color: $arinagreen;
    }

    .select-text,datetime-text {
        color: $arinagreen;  
    }

    .select-md .select-icon .select-icon-inner{
      color :$arinagreen;
    }

}

