<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Stadium Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <ion-card class="reserve-box" *ngFor="let item of FreeStadiums">

    <img src="{{item.MediaUrl}}" />
    <ion-card-content no-padding>

      <ion-grid no-padding>
        <ion-row style="padding:0px 5px">

          <ion-col col-6 class="left">
            <h6>
              El Classico &#8226; Small
            </h6>
            <rating [(ngModel)]="rate" readOnly="true">
            </rating>
          </ion-col>

          <ion-col col-6 class="right">
            <h6 class="stad-title">
              PRICE
            </h6>
            <h6>
              80000 LL
            </h6>
          </ion-col>

        </ion-row>
      </ion-grid>

      <ion-grid no-padding class="stadium-info">
        <ion-row class="stad-title">

          <ion-col col-4>
            <h6>
              <ion-icon style="padding-right:5px" name="pin"></ion-icon> 0.00KM
            </h6>

          </ion-col>

          <ion-col col-4 class="borderleftright">
            <h6>
              TYPE
            </h6>

          </ion-col>

          <ion-col col-4>
            <h6>
              STADIUM SIZE
            </h6>

          </ion-col>

        </ion-row>

        <ion-row class="stad-values">

          <ion-col col-4>
            <h6>
              Jdeide
            </h6>

          </ion-col>

          <ion-col col-4 class="borderleftright">
            <h6>
              Indoor &#8226; Grass
            </h6>

          </ion-col>

          <ion-col col-4>
            <h6>
              Max 5 v 5
            </h6>

          </ion-col>

        </ion-row>
      </ion-grid>

      <ion-grid no-padding class="button-reserve">
        <ion-row>

          <ion-col col-4>
            <button ion-button color="Primary">9:00 - 10:30</button>
          </ion-col>

          <ion-col col-4>
            <button ion-button color="Primary">9:00 - 10:30</button>
          </ion-col>
          <ion-col col-4>
            <button ion-button color="Primary">9:00 - 10:30</button>
          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-card class="specialfeatures">
    <ion-card-content no-padding>
      <ion-grid no-padding class="features-grid">
        <h5>SPECIAL FEATURES </h5>
        <ion-row class="features-row">

          <ion-col col-2>
            <ion-icon name="football"></ion-icon>
          </ion-col>

          <ion-col col-2 class=borderleftright>
            <ion-icon name="ios-restaurant-outline"></ion-icon>
          </ion-col>

          <ion-col col-2>
            <ion-icon name="ios-shirt-outline"></ion-icon>
          </ion-col>

          <ion-col col-2 class=borderleftright>
            <ion-icon name="ios-restaurant-outline"></ion-icon>
          </ion-col>

          <ion-col col-2>
            <ion-icon name="ios-restaurant"></ion-icon>
          </ion-col>

          <ion-col col-2 class=borderleft>
            <ion-icon name="ios-restaurant"></ion-icon>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="specialfeatures">
    <ion-card-content no-padding>
      <ion-grid no-padding class="directions-grid">
        <h5> DIRECTIONS </h5>
        <ion-row>

          <h6>Madzounov shorba </h6>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

    <ion-card class="specialfeatures">
    <ion-card-content no-padding>
      <ion-grid no-padding class="directions-grid">
        <h5> DISCOUNTS </h5>
        <ion-row>

          <h6>This Stadium Doesn't Offer Discounts </h6>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="specialfeatures">
    <ion-card-content no-padding>
      <ion-grid no-padding class="directions-grid">
        <h5> CANCELATION POLICY </h5>
        <ion-row>
          <h6>Insert stadium Name requires 24 hours cancellation notice prior to your schedule booking. </h6>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="specialfeatures">
    <ion-card-content no-padding>
        <h5> MAP </h5>

        <div #map id="map" class="map-header"></div>

        <!-- <div class="myContainerMap">
          <a ion-button ion-button="" primary="" class="button-direction" (click)="ShowFullMap()">
            <ion-icon name="search" class="iconColor"></ion-icon>
            Full Screen
          </a>
          <a href="" ion-button="" primary="" class="button-fullmap" target="_blank">
            <ion-icon name="ios-compass-outline" class="iconColor" style="font-weight:bold;"></ion-icon>
            Get Direction
          </a>
        </div> -->

    </ion-card-content>
  </ion-card>

</ion-content>