<ion-header>
   <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Player Finder
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="OpenFilter()">
        <ion-icon name="ios-options-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
 <ion-grid class="profile-topsec">
    <ion-row align-items-center padding-top>

      <ion-col col-6 no-padding>
        <img class="profile-photo" src="https://www.rd.com/wp-content/uploads/2017/09/01-shutterstock_476340928-Irina-Bg-1024x683.jpg">
        <h5>
          Missak
        </h5>
      </ion-col>

      <ion-col col-6 class="borderleft" no-padding>
        <img class="team-photo" src="../../assets/imgs/Badges/25.png">
        <h5 class="capitalize">
          Superman
        </h5>

      </ion-col>

    </ion-row>
    <ion-row align-items-center>

      <ion-col no-padding  class="location">
            <h6>
              <ion-icon style="padding-right:5px" name="pin"></ion-icon> <span> 0.00KM </span>
            </h6>

          </ion-col>

      <ion-col no-padding>

        <h6 class="minusmargintop turquoise">
          4th
        </h6>
      </ion-col>

    </ion-row>

    <ion-row align-items-center margin-top no-padding class="stad-title">

      <ion-col col-3>
        <h6>
          POSITION
        </h6>
      </ion-col>

      <ion-col col-3 class="borderleftright">
        <h6>
          SKILL
        </h6>

      </ion-col>

      <ion-col col-2>
        <h6>
          AGE
        </h6>

      </ion-col>

      <ion-col col-4 class="borderleft">
        <h6>
          LAST SEEN
        </h6>
      </ion-col>

    </ion-row>

    <ion-row align-items-center no-padding class="stad-nottitle">

      <ion-col col-3>
        <h6>
          Player
        </h6>
      </ion-col>

      <ion-col col-3 class="borderleftright">
        <h6>
          1
        </h6>
      </ion-col>

      <ion-col col-2>
        <h6>
          28
        </h6>
      </ion-col>

       <ion-col col-4 class="borderleft">
        <h6>
          6 days ago
        </h6>
      </ion-col>

    </ion-row>
    <h6 class="aboutme"> I like to be invited to new games</h6>
   <button ion-button outline>Request number</button>
    <button ion-button class="request">Request Number</button>
     
     <button ion-button>Request Sent</button>
  </ion-grid>

</ion-content>