page-playerfinder {


    ion-grid.profile-topsec{

        background-color: $patsgabouyd;
        text-align: center;
        padding:0px;
       
        .minusmargintop {
            margin-top:-0.4rem;
           
            }
        ion-row{
            background-color: $patsgabouyd;

            ion-col{
                img.profile-photo{
                    height: 60px;
                    width: 60px;
                    border-radius: 50px;
                }
                img.team-photo{
                    height: 60px;
                    width: 60px;
                }
                
                h6{
                    margin-top: 0px;
                    margin-bottom: 0px;
                    font-size: 12px;
                    ion-icon{
                        color:#5f7485;
                       
                    }
                     span {
                            color:#5f7485;
                        }
                }
                
            }
        }

    
    
    ion-row.stad-title{
            margin-top: 12px;
        

        h6{
            font-size:12px;
            color:#5f7485;
        }

        ion-col{
            text-align: center;
            padding:0px;
        }

    }
    
    ion-row.stad-nottitle{


        h6{
            font-size:12px;
            color:white;
            padding-top: 0px;
            margin-top:0px;
        }

        ion-col{
            text-align: center;
            padding:0px;
            margin-bottom:10px;
                padding-top: 3px;
        }

    }
    }

    div.profile-bottomsec{
        margin-top:10px;
        background-color: $patsgabouyd;
        text-align: center;
        ion-segment{
            padding:0 10px;
        }
        ion-grid{
            background-color: $patsgabouyd;
            margin-top:10px;
            padding-bottom:0px;
            ion-row:last-of-type{
                border:none;
                
            }
            ion-row{
                border-bottom-color: #5f7485;
                border-bottom-style: solid;
                border-bottom-width: 1px;
                 ion-col{
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }

    }

    h6{
        color: white;
        font-size: 13px;
        margin: 0px;
        padding: 0px;
    }
.aboutme {
   font-style: italic;
   text-align: left;
   padding: 5px 10px 10px;
  
   border-radius:20px;
}
.button {
    margin:5px;
}
.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color:$arinagreen;
    }

    .request {
        background:white;
        color:$arinagreen;
    }
}
