<ion-content class="main-view">
  <div class="overlay" tappable (click)="CloseScreen()">
  </div>
  <div class="modal_content">
    <h6 text-center>
      Please Verify Your Mobile Number
    </h6>
    <h6 text-center>
        ENTEEEEK EKHTO
      </h6>
    <div tappable (click)="CloseScreen()">
      <ion-icon name="close" class="close-modal"></ion-icon>
    </div>

  </div>
</ion-content>