page-customers {

    .list-md ion-item-sliding {
        margin-bottom:5px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
   }
   
    .searchbar-md .searchbar-input{
        background-color:transparent;
        color:white;
   }
    .toolbar .searchbar-md .searchbar-md-cancel {
        color:white;
   }
    ion-list {
        padding-top:15px;
        padding: 10px;
        margin-top: 16px;
   }
    h6{
        color: white;
   }
    .item-md {
        background-color:rgb(62, 75, 100);
        margin-top:0px;
        color:white;

        ion-label{
            display: flex;
            align-items: center;
        }

        h6.cust-phone{
            text-align: right;
            width: 100%;
        }
   }
}
.searchbar-md .searchbar-input {
    color: #fff;
}
.footer {
    background-color:$arinagreen;
    .button{
        h6{
            font-size:16px;
            margin-left:5px;
            font-weight: 100;
            margin-top:10px;
       }
        ion-icon {
            font-size:20px;
       }
   }
}
