<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      My Customers
    </ion-title>
    <ion-buttons end>
      <button ion-button end icon-only (click)="AddCustomer()">
        <ion-icon name="person-add"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="true" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>
</ion-header>


<ion-content no-padding>

  <ion-list>
    <ion-item-sliding *ngFor="let item of Customers">
      <ion-item tappable (click)="AddCustomer(item)" class="cust-items">
        <ion-avatar item-start>
          <img src="/assets/imgs/PlayerProfile.png">
        </ion-avatar>
        <h6 text-capitalize>{{item.FirstName}}</h6>
        <h6 class="cust-phone">
          {{item.Phone}}
        </h6>
      </ion-item>
      <ion-item-options side="right" style="border-bottom:0px">
        <button ion-button color="danger" (click)="DeleteCustomer(item)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="LoadMore($event)" *ngIf="!PageLoaded">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<ion-footer (click)="AddCustomer()">
  <button ion-button>
    <ion-icon name="person-add"></ion-icon>
    <h6 text-capitalize>
      Add Customer
    </h6>

  </button>
</ion-footer>