page-teams {

    
    ion-grid.team-sec{

        background-color: $patsgabouyd;
        
        ion-col{
            text-align: center;
            margin: auto;
        }

        h6{
            color: white;
            font-size:12px
        }

        h5{
            color: white;
        }
        
        img{
            width: 70px;
            height: 70px;
            display: inline-block;
        }
    }
.card-md {
    width:100%;
    margin:0px;
}
}
