<ion-header>
   <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{FromChallenge?'Select Your Team':'My Teams'}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let item of MyTeams" tappable (click)="GoToTeamProfile(item)">

    <ion-grid class="team-sec">
      <ion-row>
        <ion-col col-4>
          <img src='../../assets/imgs/Badges/{{item.Badge}}.png'>
        </ion-col>
        <ion-col col-8>
          <h5>
            {{item.Name}}
          </h5>
          <h6 style="color:turquoise">
            {{item.Rank}}
          </h6>
          <ion-grid>
            <ion-row padding-top>
              <ion-col col-6 no-padding>
                <h6 no-padding style="color:#5f7485">
                  MEMBERS
                </h6>
                <h6 no-padding>
                  {{item.NumberOfPlayers}}
                </h6>
              </ion-col>
              <ion-col col-6 no-padding class="borderleft">
                <h6 style="color:#5f7485">
                  RATING
                </h6>
                <h6>
                  {{item.Rating}}
                </h6>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

  <ion-fab bottom right>
    <button ion-fab (click)="AddTeam()">
      <ion-icon name="add">

      </ion-icon>
    </button>
  </ion-fab>


</ion-content>
