<ion-header>
  <ion-navbar>
    <ion-title>Select a Customer</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>


  <ion-card>
    <ion-card-content>

      <ion-grid>
        <ion-row tappable>
          <ion-col col-7>
            <h6>
              Missak Boyajian
            </h6>
          </ion-col>
          <ion-col col-5>
            <h6>
              +961 -70279192
            </h6>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-content>

      <ion-grid>
        <ion-row tappable>
          <ion-col col-7>
            <h6>
              Missak Boyajian
            </h6>
          </ion-col>
          <ion-col col-5>
            <h6>
              +961 -70279192
            </h6>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-card-content>

  </ion-card>
</ion-content>