<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Promotions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>


  <ion-card text-center>
   <div class="title"> PROMO </div>
      <ion-grid no-padding class="stadium-info">
     
    
      <ion-row class="stad-title">

        <ion-col col-4>
          <h6>
            CREATE DAY
          </h6>

        </ion-col>

        <ion-col col-4 class="borderleftright">
          <h6>
            CREATE TIME
          </h6>

        </ion-col>

        <ion-col col-4>
          <h6>
              STADIUM NAME
          </h6>

        </ion-col>

      </ion-row>

      <ion-row class="stad-values">

        <ion-col col-4>
          <h6>
            June 16 2016
          </h6>

        </ion-col>

        <ion-col col-4 class="borderleftright">
          <h6>
            5:32 PM
          </h6>

        </ion-col>

        <ion-col col-4>
          <h6>
            FOOTERS BIG
          </h6>

        </ion-col>

      </ion-row>
    </ion-grid>
    <ion-grid no-padding class="stadium-info">
     
    
      <ion-row class="stad-title">

        <ion-col col-4>
          <h6>
            PROMOTION DAY
          </h6>

        </ion-col>

        <ion-col col-4 class="borderleftright">
          <h6>
            NEW PRICE
          </h6>

        </ion-col>

        <ion-col col-4>
          <h6>
            START TIME
          </h6>

        </ion-col>

      </ion-row>

      <ion-row class="stad-values">

        <ion-col col-4>
          <h6>
            ALL DAYS
          </h6>

        </ion-col>

        <ion-col col-4 class="borderleftright">
          <h6>
            120000 L.L.
          </h6>

        </ion-col>

        <ion-col col-4>
          <h6>
            9:00 AM
          </h6>

        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-grid no-padding class="stadium-info">
      <ion-row class="stad-title">

        <ion-col col-4>
          <h6>
            RECURRING
          </h6>

        </ion-col>

        <ion-col col-4 class="borderleftright">
          <h6>
            DISCOUNT
          </h6>

        </ion-col>

        <ion-col col-4>
          <h6>
            END TIME
          </h6>

        </ion-col>

      </ion-row>

      <ion-row class="stad-values">

        <ion-col col-4>
          <h6>
            YES
          </h6>

        </ion-col>

        <ion-col col-4 class="borderleftright">
          <h6>
            20%
          </h6>

        </ion-col>

        <ion-col col-4>
          <h6>
            9:00 PM
          </h6>

        </ion-col>

      </ion-row>
    </ion-grid>
    <button ion-button color="danger">Delete</button>
  </ion-card>



</ion-content>
<ion-footer class="footer">

  <button ion-button (click)="AddPromotion()">Add a Promotion</button>

</ion-footer>