page-promotions {
    .scroll-content{
        padding:10px;
    }
.card {
    background-color:$patsgabouyd;
    border:5px solid $kotsgabouyd;
    padding:5px;
    color:white;
    font-size:16px;
.title {
    padding:5px 10px 10px;
}
    ion-grid {
     color:#5f7485 ;
     font-size:12px;
    margin: auto;
     h6.stad-title 
      {
            font-size:12px;
            color:#5f7485 !important;
        }
    ion-row.stad-title{

        h6{
            font-size:12px;
            color:#5f7485;
        }

        ion-col{
            text-align: center;
        }

    }

    ion-row.stad-values{
        margin-top:0px;
        padding:0 0 8px 0;
       

        h6{
            color:white;
            font-weight:bold
        }
        ion-col{
            text-align: center;
        }
    }
}
}}