page-selectcustomer {

    ion-searchbar{
        margin-top: 30px;
    }
      .modal_content {
        width: calc(100% - 20px);
        height: 70%;       
        background: $patsgabouyd;
        color:white;
        h6 {
          
            background-color:transparent;
            ion-list {
                background: $patsgabouyd;
                
            }
        }
    }
.customercard{
     background: $kotsgabouyd;   
     margin-bottom:5px;
     box-shadow:none;
     background:$patsgabouyd;
     border-bottom:1px solid #5f7485;
     .card-content-md {
         padding:16px 10px;
     }
   ion-grid {
     
       ion-row {
           ion-col{
                h6 {
                      color:white; 
                      text-transform: capitalize;
                      ion-icon{
                          margin-right:3px;
                      }
                }
                 
           }
       }
   }
}
.searchbar-md {
    
     padding:0px;
     margin-bottom:10px;
     .searchbar-input{
         background:transparent;    
         background:rgba(0, 0, 0, 0.25)   
     }
}
    .button.LoadMore
    {

    position: relative;
    left:40%;
    font-size: 20px;
    background: transparent;
  
    box-shadow: none;
    }
      .newcust-title {
            font-size:17px;
            margin-top:5px;
            ion-icon {
                font-size:20px;
                margin-right:5px;
            }
        }
    .close {
            font-size:17px;
            margin-top:5px;
            ion-icon {
                font-size:25px;
                 margin-right: -7px;
            margin-top: 4px;
            color:white;
              
            }
        }
.picker-md .picker-button, .picker-md .picker-button.activated {
        display:none;
    }
}
