<ion-content class="main-view">
  <div class="overlay" tappable (click)="CloseScreen()">
  </div>
  <div class="modal_content">
    <div text-center class="newcust-title">
      Select Customer
    </div>
    <div tappable (click)="CloseScreen()" class="close">
      <ion-icon name="close" class="close-modal"></ion-icon>
    </div>

    <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
    </ion-searchbar>

    <ion-card class="customercard" *ngFor="let item of Customers" tappable (click)="SelectCustomer(item)">
      <ion-card-content>

        <ion-grid no-padding>
          <ion-row>
            <ion-col col-8>
              <h6>
                <ion-icon name="person"></ion-icon> {{item.FirstName}}
              </h6>
            </ion-col>
            <ion-col text-right col-4>
              <h6>
                <ion-icon name="call"></ion-icon> {{item.Phone}}
              </h6>
            </ion-col>
          </ion-row>

        </ion-grid>

      </ion-card-content>

    </ion-card>
  
  <button class="loadmore" (click)="LoadMoreCustomers()" ion-button class="LoadMore">
       <ion-icon name="add-circle"></ion-icon>
    </button>

  </div>

</ion-content>
