<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      My Profile
    </ion-title>
    <ion-buttons end (click)="EditProfile()">
      <button ion-button icon-only>
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <ion-grid class="profile-topsec">
    <ion-row align-items-center padding-top>

      <ion-col col-6 no-padding>
        <img class="profile-photo" src="https://www.rd.com/wp-content/uploads/2017/09/01-shutterstock_476340928-Irina-Bg-1024x683.jpg">
        <h5>
          {{CurrentUser.FirstName}} {{CurrentUser.LastName}}
        </h5>
      </ion-col>

      <ion-col col-6 class="borderleft" no-padding>
        <img class="team-photo" src="../../assets/imgs/Badges/25.png">
        <h5 class="capitalize">
          Superman
        </h5>

      </ion-col>

    </ion-row>
    <ion-row align-items-center>

      <ion-col no-padding>

        <h6 class="arinagrey minusmargintop">
          109192130
        </h6>
      </ion-col>

      <ion-col no-padding>

        <h6 class="minusmargintop turquoise">
          4th
        </h6>
      </ion-col>

    </ion-row>

    <ion-row align-items-center no-padding class="stad-title">

      <ion-col col-3>
        <h6>
          POSITION
        </h6>
      </ion-col>

      <ion-col col-3 class="borderleftright">
        <h6>
          SKILL
        </h6>

      </ion-col>

      <ion-col style=" flex: 0 0 11%;width:11%; max-width: 11%;">
        <h6>
          AGE
        </h6>

      </ion-col>

      <ion-col class="borderleft" style=" flex: 0 0 39%;width:39%; max-width: 39%;">
        <h6>
          FAVORITE STADIUM
        </h6>
      </ion-col>

    </ion-row>

    <ion-row align-items-center no-padding class="stad-nottitle">

      <ion-col col-3>
        <h6>
          Player
        </h6>
      </ion-col>

      <ion-col col-3 class="borderleftright">
        <h6>
          1
        </h6>
      </ion-col>

      <ion-col style=" flex: 0 0 11%;width:11%; max-width: 11%;">
        <h6>
          28
        </h6>
      </ion-col>

      <ion-col class="borderleft" style=" flex: 0 0 39%;width:39%; max-width: 39%;">
        <h6>
          None
        </h6>
      </ion-col>

    </ion-row>
    <h6 class="aboutme"> I like to be invited to new games</h6>
  </ion-grid>



  <div class="profile-bottomsec">
    <ion-segment [(ngModel)]="BottomToggle" color="secondary">
      <ion-segment-button value="0">
        AVAILABILITY
      </ion-segment-button>
      <ion-segment-button value="1">
        MY GAMES
      </ion-segment-button>
    </ion-segment>
    <div *ngIf="BottomToggle == '0'">

      <ion-grid>
        <ion-row align-items-center>

          <ion-col text-left>
            <h6>
              Monday
            </h6>
          </ion-col>

          <ion-col text-right>
            <h6>
              {{CurrentUser.AvailableMFrom}}:00 till {{CurrentUser.AvailableMFrom}}:00
            </h6>
          </ion-col>

        </ion-row>

        <ion-row align-items-center>

          <ion-col text-left>
            <h6>
              Tuesday
            </h6>
          </ion-col>

          <ion-col text-right>
            <h6>
              {{CurrentUser.AvailableTFrom}}:00 till {{CurrentUser.AvailableTTo}}:00
            </h6>
          </ion-col>

        </ion-row>

        <ion-row align-items-center>

          <ion-col text-left>
            <h6>
              Wednesday
            </h6>
          </ion-col>

          <ion-col text-right>
            <h6>
              {{CurrentUser.AvailableWFrom}}:00 till {{CurrentUser.AvailableWTo}}:00
            </h6>
          </ion-col>

        </ion-row>

        <ion-row align-items-center>

          <ion-col text-left>
            <h6>
              Thursday
            </h6>
          </ion-col>

          <ion-col text-right>
            <h6>
              {{CurrentUser.AvailableFFrom}}:00 till {{CurrentUser.AvailableFTo}}:00
            </h6>
          </ion-col>

        </ion-row>

        <ion-row align-items-center>

          <ion-col text-left>
            <h6>
              Friday
            </h6>
          </ion-col>

          <ion-col text-right>
            <h6>
              {{CurrentUser.AvailableMFrom}}:00 till {{CurrentUser.AvailableMFrom}}:00
            </h6>
          </ion-col>

        </ion-row>

        <ion-row align-items-center>

          <ion-col text-left>
            <h6>
              Saturday
            </h6>
          </ion-col>

          <ion-col text-right>
            <h6>
              {{CurrentUser.AvailableSaFrom}}:00 till {{CurrentUser.AvailableSaTo}}:00
            </h6>
          </ion-col>

        </ion-row>

        <ion-row align-items-center>

          <ion-col text-left>
            <h6>
              Sunday
            </h6>
          </ion-col>

          <ion-col text-right>
            <h6>
              {{CurrentUser.AvailableSuFrom}}:00 till {{CurrentUser.AvailableSuTo}}:00
            </h6>
          </ion-col>

        </ion-row>

      </ion-grid>
    </div>

    <div *ngIf="BottomToggle == '1'">

      <ion-grid margin-top>
        <ion-row>

        </ion-row>

      </ion-grid>
    </div>
  </div>


</ion-content>