<ion-header>
   <ion-navbar>
    <ion-title>
      Edit Team
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <img src="https://seeklogo.com/images/F/FC_Barcelona-logo-D941E13B46-seeklogo.com.png">
  <h6>
    SUPERMAN
  </h6>

  <ion-item class="item-trans">
    <ion-range min="7" max="23" [(ngModel)]="saturation" color="primary">
    </ion-range>
  </ion-item>

  <ion-item class="item-trans">
    <ion-range min="7" max="23" [(ngModel)]="saturation" color="primary">
    </ion-range>
  </ion-item>

  <ion-item class="item-trans">
    <ion-range min="7" max="23" [(ngModel)]="saturation" color="primary">
    </ion-range>
  </ion-item>

  <ion-item class="item-trans">
    <ion-range min="7" max="23" [(ngModel)]="saturation" color="primary">
    </ion-range>
  </ion-item>

  <ion-item class="item-trans">
    <ion-range min="7" max="23" [(ngModel)]="saturation" color="primary">
    </ion-range>
  </ion-item>

  <ion-item class="item-trans">
    <ion-range min="7" max="23" [(ngModel)]="saturation" color="primary">
    </ion-range>
  </ion-item>


</ion-content>