<ion-header>
    <ion-navbar color="kotsgabouyd">

        <ion-buttons left>
            <button ion-button icon-only primary (click)="CloseScreen()">
                <ion-icon name="ios-close-outline"></ion-icon>
            </button>
        </ion-buttons>

        <ion-buttons right>
            <button ion-button icon-only primary (click)="ApplyFilter()">
                <ion-icon name="ios-checkmark"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            FILTER
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>

    <h6 class="Sortby" no-margin>
        SORT BY
    </h6>

    <ion-segment color="primary" mode="ios" [(ngModel)]="FilterOptions.SortBy">
        <ion-segment-button value="0">

            <ion-icon name="ios-pin-outline"></ion-icon>
            <span>DISTANCE </span>
        </ion-segment-button>

        <ion-segment-button value="1">

            <ion-icon name="ios-cash-outline"></ion-icon>
            <span> PRICE </span>

        </ion-segment-button>

        <ion-segment-button value="2">

            <ion-icon name="ios-star-outline"></ion-icon>
            <span> RATING </span>

        </ion-segment-button>

        <ion-segment-button value="3">

            <ion-icon name="md-checkbox-outline"></ion-icon>
            <span> BEST </span>

        </ion-segment-button>
    </ion-segment>

    <ion-grid class="stadiumtype">
        <h6 no-margin> STADIUM TYPE </h6>
        <ion-segment color="primary" mode="ios" [(ngModel)]="FilterOptions.StadiumType">
            <ion-segment-button value="0">
                <span>INDOOR </span>
            </ion-segment-button>

            <ion-segment-button value="1">
                <span> OUTDOOR </span>
            </ion-segment-button>

            <ion-segment-button value="2">
                <span>ANY </span>
            </ion-segment-button>
        </ion-segment>
    </ion-grid>

    <ion-grid class="stadiumtype">
        <h6 no-margin> FLOOR TYPE </h6>
        <ion-segment color="primary" mode="ios" [(ngModel)]="FilterOptions.FloorType">
            <ion-segment-button value="0">
                <span>GRASS </span>
            </ion-segment-button>

            <ion-segment-button value="1">
                <span> HARD COURT </span>
            </ion-segment-button>

            <ion-segment-button value="2">
                <span> ANY </span>
            </ion-segment-button>
        </ion-segment>
    </ion-grid>


    <h6 no-margin class="titleboy"> DISTANCE (KMs) </h6>
    <ion-item class="item-trans">
        <ion-range dualKnobs="true" step="5" min="0" max="60" [(ngModel)]="FilterOptions.Distance" color="primary">
            <ion-label range-left>{{FilterOptions.Distance.lower}}</ion-label>
            <ion-label range-right>{{FilterOptions.Distance.upper}}</ion-label>
        </ion-range>
    </ion-item>

    <h6 no-margin class="titleboy"> PRICE (LL) </h6>
    <ion-item class="item-trans">
        <ion-range dualKnobs="true" step="5000" min="50000" max="300000" [(ngModel)]="FilterOptions.Price" color="primary">
            <ion-label range-left>{{FilterOptions.Price.lower}}</ion-label>
            <ion-label range-right>{{FilterOptions.Price.upper}}</ion-label>
        </ion-range>
    </ion-item>

</ion-content>
<ion-footer color="kotsgabouyd">
    <button class="apply" (click)="ApplyFilter()">
        Apply
    </button>
</ion-footer>