page-stadiumfilters{
      .segment-ios .segment-button:not(:first-of-type) {
            border-left:1px solid #5f7485;
        }
    
    .segment-ios-primary .segment-button.segment-activated {
        background:$kotsgabouyd;
    }
    
    .segment-ios {
          background:$kotsgabouyd;
        padding-bottom:10px;
        border-bottom: 1px solid #5f7485;       
        
        .segment-ios .segment-button:not(:first-of-type) {
            border-left:1px solid #5f7485;
        }
        .segment-button {
            background-color: $kotsgabouyd;
            height: auto;
           

            ion-icon{
                padding-top:5px;
                display: block;
           }
       }
   }
    h6{
        color: #5f7485;
        padding:15px;
        font-size: 14px;
   }
 
    .grid {
        padding:0px;
        margin-top: -5px;
   }
    .item-md.item-block .item-inner {
        border-bottom:none;
   }
    .range{
        padding: 0px 0 10px;
   }
    .Filterby {
        margin-top:0;
        border-bottom: 1px solid #5f7485;
   }
    ion-grid {
        .row {
            padding-top:10px;
            .col {
                padding:2px;
           }
       }
   }
    .apply {
        color: $arinagreen ;
        background-color:transparent;
        border:1px solid $arinagreen;
        width: 100%;
        height: 100%;
   }
    .titleboy {
        padding-bottom:0px; 
        
   }

    .item {
         border-bottom: 1px solid #5f7485; 
    }

    ion-footer{
        height: 40px;
    }
}
