<!--
  Generated template for the SelectStadiumPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>selectStadium</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-spinner name="bubbles" class="loading-center" *ngIf="PageLoading && PageNumber == 1"></ion-spinner>

  <ion-card class="reserve-box" *ngFor="let item of Stadiums">

    <img src="{{item.MediaUrl}}" tappable (click)="GoDetails(item)" />
    <img class="top-right" src="../../assets/imgs/info-icon.png">

    <ion-card-content no-padding>

      <ion-grid no-padding>
        <ion-row style="padding:0px 5px">

          <ion-col col-6 class="left">
            <h6>
              {{item.Stadium.Name}} &#8226; {{item.Name}}
            </h6>
            <rating [(ngModel)]="rate" readOnly="true">
            </rating>
          </ion-col>

          <ion-col col-6 class="right">
            <h6 class="stad-title">
              PRICE
            </h6>
            <h6>
              {{item.Price}} LL
            </h6>
          </ion-col>

        </ion-row>
      </ion-grid>

      <ion-grid no-padding class="stadium-info">
        <ion-row class="stad-title">

          <ion-col col-4>
            <h6>
              <ion-icon style="padding-right:5px" name="pin"></ion-icon> 0.00KM
            </h6>

          </ion-col>

          <ion-col col-4 class="borderleftright">
            <h6>
              TYPE
            </h6>

          </ion-col>

          <ion-col col-4>
            <h6>
              STADIUM SIZE
            </h6>

          </ion-col>

        </ion-row>

        <ion-row class="stad-values">

          <ion-col col-4>
            <h6>
              {{item.Stadium.City}}
            </h6>

          </ion-col>

          <ion-col col-4 class="borderleftright">
            <h6>
              {{item.TypeText}} &#8226; {{item.TypeFloorText}}
            </h6>

          </ion-col>

          <ion-col col-4>
            <h6>
              Max {{item.NumPlayers}} v {{item.NumPlayers1}}
            </h6>

          </ion-col>

        </ion-row>
      </ion-grid>


    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll *ngIf="!PageLoaded" class="load-more" (ionInfinite)="LoadMorePage($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
