page-stadiums {
  
 h6.stad-title 
      {
            font-size:12px;
            color:#5f7485 !important;
        }
    ion-row.stad-title{

        h6{
            font-size:12px;
            color:#5f7485;
        }

        ion-col{
            text-align: center;
        }

    }

    ion-row.stad-values{
        margin-top:0px;
        padding:0 0 8px 0;
       

        h6{
            color:white;
            font-weight:bold
        }
        ion-col{
            text-align: center;
        }
    }
      
    
    ion-card.specialfeatures {
        background-color:$patsgabouyd;
        text-align:center;
        color: white;

        h5{
            color:white;
        }
        ion-grid.features-grid {
            padding-top:5px;
            font-size:16px;
    }

        ion-row.features-row {
            padding:10px 0 5px;
            font-size:30px;
    }

    
     
        ion-grid.DIRECTIONS-grid {
            padding-top:5px;
             h5{
            padding-top:5px 0 10px;
            font-size:14px;
            color:white;
            }
            
            
    }

        ion-row.DIRECTIONS-row {
           
            h6 {
            padding:10px 5px;
            color:white;
            font-size:14px;
            text-align:left;
            }
    }
    }
    



    //info icon on top of image
		.container {
		position: relative;
		text-align: center;
		color: white;
	}
	
	.top-right {
	position: absolute;
		top: 16px;
		right: 16px;       
        width:20px;
        height:20px !important;
        border: 1px black solid;
		border-radius: 50%;
        color:#5f7485; 
        font-size: 20px;
        border:1px solid black;
    }
    
//
}