page-teamprofile {

       ion-grid.profile-topsec{

        background-color: $patsgabouyd;
        text-align: center;
        padding:0px;
       
        .minusmargintop {
            margin-top:-0.4rem;
           
            }
        ion-row{
            background-color: $patsgabouyd;

            ion-col{
                img.profile-photo{
                    height: 60px;
                    width: 60px;
                    border-radius: 50px;
                }
                img.team-photo{
                    height: 60px;
                    width: 60px;
                }
                img.stadium-photo {
                width:100%;
                height: 60px;
                padding: 5px 5px 0 5px;
                }
                h6 {
                    margin-top: 3px;
                    margin-bottom: 3px;
                    font-size: 12px;
                   
                }
                h6.madzoun {
                    color:#5f7485;
                }
            }
        }

    }
  
    ion-row.stad-title{
            margin-top: 12px;
        

        h6{
            font-size:12px;
            color:#5f7485;
        }

        ion-col{
            text-align: center;
            padding:0px;
        }

    }
    ion-row.stad-nottitle{
margin-top:-3px;
        h6{
            font-size:12px;
            color:white;
        }

        ion-col{
            text-align: center;
            padding:0px;
            margin-bottom:10px;
                padding-top: 3px;
        }

    }
    .aboutme {
   font-style: italic;
   text-align: left;
   padding: 5px 10px 10px;
        margin:0px;
        font-size:12px;
        color:white;
   border-radius:20px;
}
ion-grid.buttonsection {
    padding:0px;
    ion-row {
          padding:0px;
          
        ion-col:first-of-type {
            padding:5px 5px 0 0;
        }
         ion-col {
             padding:5px 0 5px 0;
         }
    }

}
 div.profile-bottomsec{
        
        background-color: $patsgabouyd;
        text-align: center;
    
        ion-grid{
            background-color: $patsgabouyd;
            
            padding-bottom:0px;
            ion-row:last-of-type{
                border:none;
                
            }
            ion-row{
                border-bottom-color: #5f7485;
                border-bottom-style: solid;
                border-bottom-width: 1px;
                 ion-col{
                     padding:0px;
                   h6{ 
                         padding-top: 12px;
    padding-bottom: 12px;
    margin:0px;
    color:white;
    font-size: 13px;
                 }
                }
            }
        }

    }
    
    .list-md .item-block .item-inner {
        margin-top: 5px;
        border-bottom:1px solid $arinagrey;
        padding-right:2px;
    }
    .item-md {
padding-left:5px;
    .item-button {
        margin-right:0px;
    }
    p {
        color:$arinagrey
    }
}

.item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end] {
    margin-right:4px;
}


.demotekickleave {
    color:$arinared;
    border:1px solid $arinared;
}
.promote {
    color:$arinagreen;
     border:1px solid $arinagreen;
}
    .segment-md-secondary .segment-button {
            line-height: 40px;
    }
}
