<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{TeamProfile.Name}}'s Profile
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="EditTeam()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>



  <ion-grid class="profile-topsec">
    <ion-row align-items-center padding-top>
      <ion-col col-6 no-padding>
        <img class="team-photo" src="../../assets/imgs/Badges/{{TeamProfile.Badge}}.png">
        <h5>
          {{TeamProfile.Name}}
        </h5>

      </ion-col>


      <ion-col col-6 class="borderleft" no-padding>
        <img class="stadium-photo" src="https://firebasestorage.googleapis.com/v0/b/project-6346119287623064588.appspot.com/o/stadiumimages%2FEl%20Classico%2Fall.jpeg?alt=media&token=64afe81a-989c-412c-988a-0ee8af007092">
        <h6 class="madzoun">
          FAVORITE STADIUM
        </h6>

      </ion-col>

    </ion-row>
    <ion-row align-items-center>

      <ion-col no-padding>

        <h6 class="turquoise minusmargintop">
          {{TeamProfile.Rank}}
        </h6>
      </ion-col>

      <ion-col no-padding>

        <h5 class="minusmargintop">
          Vatche Stadium
        </h5>
      </ion-col>

    </ion-row>

    <ion-row align-items-center no-padding class="stad-title">

      <ion-col col-4>
        <h6>
          MATCHES
        </h6>
      </ion-col>

      <ion-col col-4 class="borderleft">
        <h6>
          RATING
        </h6>

      </ion-col>


      <ion-col class="borderleft">
        <h6>
          TEAM SIZE
        </h6>
      </ion-col>

    </ion-row>

    <ion-row align-items-center no-padding class="stad-nottitle">

      <ion-col col-4>
        <h6>
          {{TeamProfile.NumberOfGames}}
        </h6>
      </ion-col>

      <ion-col col-4 class="turquoise borderleft">
        <h6>
          {{TeamProfile.Rating}}
        </h6>
      </ion-col>


      <ion-col class="borderleft">
        <h6>
          {{TeamProfile.teamSizes}}
        </h6>
      </ion-col>

    </ion-row>
    <h6 class="aboutme"> {{TeamProfile.description}}</h6>
  </ion-grid>


  <ion-grid class="buttonsection">
    <ion-row>
      <ion-col>
        <button ion-button block>Match History</button>
      </ion-col>
      <ion-col>
      <button ion-button block>Challenge Teams</button>
      </ion-col>
    </ion-row>
  </ion-grid>



  <div class="profile-bottomsec">
    <ion-segment [(ngModel)]="BottomToggle" color="secondary">
      <ion-segment-button value="0">
        AVAILABILITY
      </ion-segment-button>
      <ion-segment-button value="1">
        STATISTICS
      </ion-segment-button>
      <ion-segment-button value="2">
        MEMBERS
      </ion-segment-button>
    </ion-segment>
    <div *ngIf="BottomToggle == '0'">

      <ion-grid>
        <ion-row align-items-center>

          <ion-col text-left>
            <h6>
              Monday
            </h6>
          </ion-col>

          <ion-col text-right>
            <h6>
              7:00 till 23:00
            </h6>
          </ion-col>

        </ion-row>

        <ion-row align-items-center>

          <ion-col text-left>
            <h6>
              Tuesday
            </h6>
          </ion-col>

          <ion-col text-right>
            <h6>
              7:00 till 23:00
            </h6>
          </ion-col>

        </ion-row>

        <ion-row align-items-center>

          <ion-col text-left>
            <h6>
              Wednesday
            </h6>
          </ion-col>

          <ion-col text-right>
            <h6>
              7:00 till 23:00
            </h6>
          </ion-col>

        </ion-row>

        <ion-row align-items-center>

          <ion-col text-left>
            <h6>
              Thursday
            </h6>
          </ion-col>

          <ion-col text-right>
            <h6>
              7:00 till 23:00
            </h6>
          </ion-col>

        </ion-row>

        <ion-row align-items-center>

          <ion-col text-left>
            <h6>
              Friday
            </h6>
          </ion-col>

          <ion-col text-right>
            <h6>
              7:00 till 23:00
            </h6>
          </ion-col>

        </ion-row>

        <ion-row align-items-center>

          <ion-col text-left>
            <h6>
              Saturday
            </h6>
          </ion-col>

          <ion-col text-right>
            <h6>
              7:00 till 23:00
            </h6>
          </ion-col>

        </ion-row>

        <ion-row align-items-center>

          <ion-col text-left>
            <h6>
              Sunday
            </h6>
          </ion-col>

          <ion-col text-right>
            <h6>
              7:00 till 23:00
            </h6>
          </ion-col>

        </ion-row>

      </ion-grid>
    </div>

    <div *ngIf="BottomToggle == '1'">

      <ion-list>
        <ion-item>
          <h5>Games On Arina</h5>          
        </ion-item>
         <ion-item>
          <h5>Wins</h5>          
        </ion-item>
         <ion-item>
          <h5>Winstreak</h5>          
        </ion-item>
        
      </ion-list>
    </div>
    <div *ngIf="BottomToggle == '2'">

      <ion-list class="members">

        <ion-item>
          <ion-avatar item-start>
            <img src="http://machohairstyles.com/wp-content/uploads/2015/11/12317954_534012883418200_2062689946_n-650x650.jpg">
          </ion-avatar>
          <h3>Ari Koftikian</h3>
          <p>Captain</p>
        
        </ion-item>

        <ion-item>
          <ion-avatar item-start>
            <img src="http://machohairstyles.com/wp-content/uploads/2015/11/12317954_534012883418200_2062689946_n-650x650.jpg">
          </ion-avatar>
          <h3>RAGOSSSS</h3>
          <p>Chakhloug</p>
          
           <button ion-button small clear item-end class="demotekickleave">Leave</button>
        </ion-item>

        <ion-item>
          <ion-avatar item-start>
            <img src="http://machohairstyles.com/wp-content/uploads/2015/11/12317954_534012883418200_2062689946_n-650x650.jpg">
          </ion-avatar>
          <h3>Missakation</h3>
          <p>Chakhloug</p>
        <button ion-button small clear item-end class="promote">Promote</button>
       
        <button ion-button small clear item-end class="demotekickleave">Kick</button>
        </ion-item>

      </ion-list>
    </div>
  </div>
</ion-content>