﻿<tr>
    <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px;color:#195b9b; line-height:14px;font-weight:bold;"><a href="<# BaseURL />/Calls/CallsDetails.aspx?Callid=<# CallID />" target="_blank" style="color:#195b9b"><# CustomerName /></a></td>
    <td width="140" valign="bottom" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;color:#7b838c; line-height:14px;font-weight:normal;"><img src="<# BaseURL />/Assets/images/icon.jpg" width="11" height="11" alt="" /> <# AssignedTo /></td>
    <td width="130" align="right" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;color:#ffa201; line-height:14px;font-weight:normal;"><strong>Published :</strong> <# CallTime /></td>
</tr>
<tr>
    <td align="left" valign="middle" height="3"><img src="<# BaseURL />/Assets/images/blank.png" width="1" height="1" /></td>
    <td align="right" valign="top"><img src="<# BaseURL />/Assets/images/blank.png" width="1" height="1" /></td>
    <td align="right" valign="top" height="3"><img src="<# BaseURL />/Assets/images/blank.png" width="1" height="1" /></td>
</tr>
<tr>
    <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;color:#7b838c;line-height:14px;"><# CallType /></td>
    <td align="right" valign="top">&nbsp;</td>
    <td align="right" valign="top">&nbsp;</td>
</tr>
<tr>
    <td align="left" valign="middle" height="10"><img src="<# BaseURL />/Assets/images/blank.png" width="1" height="1" /></td>
    <td align="right" valign="top"><img src="<# BaseURL />/Assets/images/blank.png" width="1" height="1" /></td>
    <td align="right" valign="top" height="10"><img src="<# BaseURL />/Assets/images/blank.png" width="1" height="1" /></td>
</tr>