// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #2FB143,
  secondary:  #f4f4f4,
  danger:     #f53d3d,
  dark:       #222,
  kotsgabouyd:rgb(45, 62, 75),
  patsgabouyd:rgb(62, 75, 100),
  arinagrey:#5f7485,
  
);

$button : (
  background-color: #2ab041,
);

$arinagreen:#2FB143;
$arinared:#DA291C;
$kotsgabouyd:rgb(45, 62, 75);
$patsgabouyd:#415364;
$turquoise:turquoise;
$arinagrey:#5f7485;
.error {color:red};

$searchbar-md-input-placeholder-color:#5f7485;
$searchbar-md-input-search-icon-color:#5f7485;
$searchbar-md-input-clear-icon-color:#fff;
$label-md-text-color : color($colors,secondary);




// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$text-input-ios-margin-start:10px;
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$alert-md-input-border-color:transparent;
$alert-md-radio-label-text-color:white;
$alert-md-checkbox-icon-border-color:white;

.md button {
  text-transform: none;
}

$segment-button-md-text-color-activated:  #2ab041;
$segment-button-md-border-color-activated:  #2ab041;
$spinner-md-bubbles-color: #2ab041;

$segment-button-md-line-height:5rem;
$text-input-md-margin-start:10px;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
