page-stadiums {

    ion-row.stad-title{

        h6{
            font-size:12px;
            color:#5f7485;
        }

        ion-col{
            text-align: center;
        }

    }

    ion-row.stad-values{

        padding-bottom: 8px;

        h6{
            color:white;
            font-weight:bold
        }
        ion-col{
            text-align: center;
        }
    }

}
