<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Stadiums</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-spinner name="bubbles"  class="spinner-balanced" class="loading-center" *ngIf="LoadingPage"></ion-spinner>

  <ion-card *ngFor="let item of MyStadiums">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/Saitama_stadium.png" style="height:150px" />
    <ion-card-content class="arinacard">
      <ion-grid>
        <ion-row>

          <ion-col col-6 class="left">
            <h6 style="color:white">
              {{item.Stadium.Name}} &#8226; {{item.Name}}
            </h6>

          </ion-col>

          <ion-col col-6 class="right">
            <h6 style="color:#5f7485">
              PRICE
            </h6>
            <h6 style="color:white">
              {{item.Price}} LL
            </h6>
          </ion-col>

        </ion-row>
      </ion-grid>


      <ion-grid no-padding class="white">
        <ion-row class="stad-title">

          <ion-col col-4>
            <h6>
              <ion-icon style="padding-right:5px" name="pin"></ion-icon> 0.00KM
            </h6>

          </ion-col>

          <ion-col col-4 class="borderleftright">
            <h6>
              TYPE
            </h6>

          </ion-col>

          <ion-col col-4>
            <h6>
              STADIUM SIZE
            </h6>

          </ion-col>

        </ion-row>

        <ion-row class="stad-values">

          <ion-col col-4>
            <h6>
              {{item.Stadium.City}}
            </h6>

          </ion-col>

          <ion-col col-4 class="borderleftright">
            <h6>
              {{item.TypeText}} &#8226; {{item.TypeFloorText}}
            </h6>

          </ion-col>

          <ion-col col-4>
            <h6>
              Max {{item.NumPlayers}} v {{item.NumPlayers1}}
            </h6>

          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

</ion-content>