page-login {

    .text-input{
        text-align: left;
    }

    .login-background {
        background-image: url('../../assets/imgs/LoginBack2.jpg');
        background-size: cover;
    }
    
    .signInOutButton {
        color: color($colors, primary);
        text-transform: uppercase;
        border-radius:30px;
    }

    .item-inner{
        padding: 0 !important;
    }

    .loginLogo{
        width: 45vw;
        margin-top: 10vh;
    }

    ion-spinner{
        * {
            stroke: white !important;
          }
    }
    
}
