<ion-content class="login-background">
  <div margin text-center>
    <img class="loginLogo" src="../../assets/imgs/loggo.png">
  </div>
  <form class="signin">
    <ion-list>

      <ion-item margin-vertical style="background-color:transparent;padding:0px 16px;">
        <ion-label floating style="padding-left:10px;text-align:left;color:#2ab041">Email</ion-label>
        <ion-input style="padding-left:10px;color:white;text-align:left;background-color:rgba(0, 0, 0, 0.4)" type="email"
          [(ngModel)]="account.username" name="email" required></ion-input>
      </ion-item>

      <ion-item margin-vertical style="background-color:transparent;padding:0px 16px;margin:-25px 0 -20px">
        <ion-label floating style="padding-left:10px;color:#2ab041">Password</ion-label>
        <ion-input style="padding-left:10px;color:white;text-align:left;background-color:rgba(0, 0, 0, 0.4)" type="password"
          [(ngModel)]="account.password" name="password" required></ion-input>

      </ion-item>

      <div margin-vertical style="padding:20px">
        <!-- <button [disabled]="account.username == '' || account.password == '' || isLoading" ion-button block -->
        <button ion-button block margin-vertical class="signInOutButton" color="light" type="submit" (click)="doLogin()">
          <span style="font-size:16px;color:white;text-transform:none" *ngIf="!isLoading">Sign in</span>
          <ion-spinner *ngIf="isLoading"></ion-spinner>
        </button>

      </div>

    </ion-list>

  </form>

</ion-content>