<ion-content class="main-view">
  <div class="overlay" tappable (click)="CloseScreen()">
  </div>
  <div class="modal_content">
    <div text-center class="newcust-title">
      <ion-icon name="person-add"></ion-icon>
      
        Add Customer
      
    </div>
    <div tappable (click)="CloseScreen()" class="close">
      <ion-icon name="close" class="close-modal"></ion-icon>
    </div>

    <ion-list>
      <ion-item class="cred-input">
        <ion-label floating>
          <ion-icon name="md-mail"></ion-icon> Name
        </ion-label>
        <ion-input [(ngModel)]="Customer.FirstName" class="placeholder-text" type="email" name="email" required></ion-input>
      </ion-item>

      <ion-item class="cred-input">
        <ion-label floating>
          <ion-icon name="call"></ion-icon> Telephone
        </ion-label>
        <ion-input [(ngModel)]="Customer.Phone" class="placeholder-text" type="number" required></ion-input>

      </ion-item>



    </ion-list>
    <button ion-button full (click)="SaveCustomer()" [disabled]="IsSaving" class="newcustomerbutton">Save</button>

  </div>
</ion-content>