page-newcustomer {
     .modal_content {
         width: 90%;
         height: 45%;
         background: $patsgabouyd;
         color:white;
         h6 {
             margin-top :10px;
             margin-bottom:10px;
             background-color:transparent;
             ion-list {
                 background: $patsgabouyd;
            }
        }
    }
     .list-md .item-input {
         background-color:transparent;
         border:0px;
         text-transform: capitalize;
         color:white;
         margin-bottom:-15px;
         padding: 0px;
    }
     .item-md.item-block .item-inner {
         padding-right:0px;
    }
     .list-md .item-input:last-child {
         border-bottom:0px;
    }
     .item-label-stacked .text-input-md, .item-label-floating .text-input-md {
         text-align: left;
    }
     .item-input ion-input, .item-input ion-textarea {
         background: rgba(0, 0, 0, 0.3);
    }
     .label-md[stacked], .label-md[floating] {
         margin-left:10px;
         font-size:14px;
    }
     .newcustomerbutton {
         position:absolute;
         left:10;
         margin-top:25px;
         width:calc(100% - 20px) 
    }
     .item-label-stacked .text-input-md, .item-label-floating .text-input-md {
         margin-left:10px;
    }
        .newcust-title {
            font-size:17px;
            margin-top:5px;
            ion-icon {
                font-size:20px;
                margin-right:5px;
            }
        }
        .close {
            font-size:17px;
            margin-top:5px;
            ion-icon {
                font-size:25px;
                 margin-right: -7px;
            margin-top: 4px;
            color:white;
              
            }
        }
}