page-bookingadd {

	ion-multi-picker{
		text-align: center;
		width: 100%;
		color: white;
	}

	h5,
	h6 {
		color: white;
	}
	ion-grid.stat-sec {
		ion-col {
			text-align: center;
			font-size: 14px;
		}
	}
	ion-item.trans-item {
	    background-color: transparent;
		color: white;
		border: none;
	}
	ion-grid.cust-searchbox {
		color: white;
		text-align: left;
		padding: 0px 10px;
		ion-row {
			background-color: rgba(0, 0, 0, 0.2);
			.text-input {
				text-align: left;
				font-size: 14px;
			}
			ion-col {
				padding: 0px;
				margin: 0px;
			}
			.input {
				color: white;
			}
			ion-col.search-icon {
				text-align: right;
			}
		}
	}
	.inp-price {
		.text-input {
			text-align: right;
			color: $arinagreen;
		}
	}
	.background {
		background-color: $kotsgabouyd;
	}
	.item-md {
		padding-left: 0;
		padding-right: 0;
	}
	.buttonheight {
		height: 35px;
	}
	.picker {
		border-radius: 0px;
		margin-top: 0px;
	}
	.error {
		padding: 0px 10px;
	}
	.item-md ion-icon[item-left],
	.item-md ion-icon[item-right],
	.item-md ion-icon[item-start],
	.item-md ion-icon[item-end] {
		margin-top: 10px;
	}
	.select-md {
		color: $arinagreen;
		max-width: 50%;
	}
	.select-md .select-icon .select-icon-inner {
		color: $arinagreen;
	}
	.barimageicons {
		width: 25px;
		height: 20px;
		margin-right: 16px;
	}
	.footer {
		background-color: $arinagreen;
	}

	.spinner-md-crescent circle {
		stroke: $arinagreen;
	}
	
	
}