<ion-header>
  <ion-navbar>
    <ion-title>{{IsEditMode?'Edit Booking':'Add a Booking'}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="AddNewCustomer()">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-item class="backcolor-green" no-margin text-center>
    <!-- <ion-label>{{DatePicker}}</ion-label> -->
    <ion-multi-picker [(ngModel)]="DatePicker" [separator]="' at '" item-content [multiPickerColumns]="simpleColumns">
    </ion-multi-picker>
  </ion-item>
</ion-header>

<ion-content class="background">

  <ion-grid class="cust-searchbox" margin-top>
    <ion-row>
      <ion-col col-9>
        <ion-input maxlength='8' [(ngModel)]="CurrentCustomer.Phone" placeholder="Phone Number +(961)" (ngModelChange)="FetchCustomer()"></ion-input>
      </ion-col>
      <ion-col col-3 class="search-icon">
        <button ion-button class="buttonheight" (click)="SelectCustomer()">
          <ion-icon ios="ios-search" md="md-search"></ion-icon>
        </button>

      </ion-col>
    </ion-row>
  </ion-grid>

  <div text-center>
    <ion-spinner *ngIf="LoadingCustomer"></ion-spinner>
  </div>

  <h6 text-center text-capitalize *ngIf="CurrentCustomer.MemberId != null">
    {{CurrentCustomer.FirstName}} Statistics
  </h6>

  <ion-grid class="stat-sec" *ngIf="CurrentCustomer.MemberId != null">
    <ion-row>

      <ion-col col-6 style="color:red">
        <ion-icon name="close" item-left></ion-icon>

      </ion-col>

      <ion-col col-6 class="color-green">
        <ion-icon name="checkmark" item-left></ion-icon>
      </ion-col>


    </ion-row>

    <ion-row>

      <ion-col col-6 style="color:red">
        15
      </ion-col>

      <ion-col col-6 class="color-green">
        5
      </ion-col>


    </ion-row>
  </ion-grid>

  <ion-item class="trans-item" padding-left padding-right no-lines>

    <ion-label> <img src="../../assets/imgs/pitch.png" class="barimageicons">Select Stadium</ion-label>
    <ion-select [(ngModel)]="Schedule.MiniStadiumId">
      <ion-option *ngFor="let item of MyStadiums" value="{{item.MiniStadiumId}}">
        {{item.Name}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-item class="trans-item" padding-left padding-right no-lines>
    <ion-icon name="ios-pricetag-outline" item-left></ion-icon>
    <ion-label>Price</ion-label>
    <ion-input [(ngModel)]="Schedule.Price" class="inp-price" placeholder="Price" type="number"></ion-input>
  </ion-item>

  <ion-item class="trans-item" padding-left padding-right no-lines>
    <ion-icon name="ios-refresh-outline" item-left></ion-icon>
    <ion-label>Recurring</ion-label>

    <ion-select [(ngModel)]="Schedule.Recurring" no-line>

      <ion-option value="0">Once</ion-option>
      <ion-option value="2">2 week</ion-option>
      <ion-option value="4">4 week</ion-option>
      <ion-option value="6">6 week</ion-option>
      <ion-option value="8">8 week</ion-option>
    </ion-select>
  </ion-item>

  <ion-item class="trans-item" padding-left padding-right no-lines>
    <ion-icon name="ios-time-outline" item-left></ion-icon>
    <ion-label>Duration</ion-label>
    <ion-select [(ngModel)]="Schedule.Duration">
      <ion-option value="30">30 Mins</ion-option>
      <ion-option value="60">60 Mins</ion-option>
      <ion-option value="90">90 Mins</ion-option>
      <ion-option value="120">2 hours</ion-option>
      <ion-option value="150">2.5 hours</ion-option>
      <ion-option value="180">3 hours</ion-option>
      <ion-option value="210">3.5 hours</ion-option>
      <ion-option value="240">4 hours</ion-option>
      <ion-option value="270">4.5 hours</ion-option>
      <ion-option value="300">5 hours</ion-option>
    </ion-select>
  </ion-item>
</ion-content>

<ion-footer class="footer">

  <button ion-button (click)="SaveBooking()">Save</button>

</ion-footer>